[2017-04-19 21:57] pbx0 commented on #452
This may well be why scale test hasn't been passing: https://github.com/coreos/mantle/issues/567

[2017-04-19 22:09] aaronlevy commented on #452
This was only just merged yesterday though: https://github.com/kubernetes-incubator/bootkube/pull/434

[2017-04-19 22:15] aaronlevy commented on #456
This is somewhat two discussions. I think one is changing the dns policy on api-server (which seems reasonable). Then there is another issue to track discussion about using host-network for apiserver.

Can we break this into two issues?

[2017-04-19 23:33] #454 closed

[2017-04-19 23:38] #324 closed

[2017-04-19 23:55] #453 closed

[2017-04-20 00:40] coresolve commented on #432
this is an awesome awesome idea!

[2017-04-20 04:28] xiang90 commented on #452
good point. fine with me.

[2017-04-20 13:56] aric49 commented on #407
Hey @bzub -- sorry for the delay in responding. I was doing some experimenting with the deployment using calico to replace the default flannel manifests and we were able to get our deployment at least semi-functional using the etcdless calico manifest. Unfortunately though, we need the full etcd capabilities of calico for our specific use cases, so this is more of a stop-gap solution.   We also di

[2017-04-21 20:32] #378 closed

[2017-04-24 07:28] dghubble opened #463 "Nodes unavailable during bootkube start when --cloud-provider=gce"
Launching a GCE cluster with on-host Kubeletes with `--cloud-provider=gce` and creating assets with bootkube v0.4.0 and the `--cloud-provider=gce` render flag, bootkube start does not complete.

[code]

bootstrap controller manager:

[code]
Pending control plane components list no nodes as the reason they cannot be scheduled, though nodes were registered successfully according to apiserver logs

b

[2017-04-24 17:52] aaronlevy commented on #463
The behavior in v1.6 changed slightly where a node now reports as "not ready" if a network is unavailable, so they're registering - but not able to accept scheduled work. Our assumption is that flannel will eventually be deployed as a daemonset, which will be assigned to the nodes (not assigned by scheduler), then deploy the CNI config, then the node should start reporting as ready (and accept sch

[2017-04-24 18:11] dghubble commented on #463
Ok, --configure-cloud-routes=false being important sounds familiar. Flannel pods are running (though there logs may be interesting) and believe the kubelet logs included some lines about network ready true.

[2017-04-24 23:49] squat commented on #452
etcd operator and etcd pods tolerate taints now. we can close this. cc @aaronlevy

[2017-04-24 23:55] aaronlevy commented on #452
closed in https://github.com/kubernetes-incubator/bootkube/pull/461

[2017-04-24 23:55] #452 closed

[2017-04-25 17:55] aaronlevy opened #474 "Deploy rescheduler to make use of "critical pod" annotations"
This is technically an "alpha" feature - so we need to decide if this is something we want to do.

[2017-04-25 18:06] aaronlevy commented on #455
One thing we would have to consider is if we do this for secrets, the pod manifest essentially becomes a secret as well -- and needs to be protected (putting your secret data into plain text inline of the manifest).

Not necessarily opposed to this (or maybe scoping down to configMaps). But this could get a bit complex / fragile doing a bunch of pod manifest rewrites (like we already do for secret

[2017-04-25 18:24] aaronlevy opened #475 "kubelet reporting CNI status hook failure warnings"
[code]

These messages will be reported, from some initial testing, when a static pod is started or stopped (e.g. file added or removed from manifest directory). Or when a normal pod is stopped.

Initially this doesn't seem to affect the behavior of the pod, as all conformance tests pass (which launch / destroy plenty of pods). But likely need more tests here (e.g. because static pods report this

[2017-04-25 22:59] aaronlevy opened #476 "etcd cluster TPR should be generated as part of the render step"
Rather than hard-coded: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/util/etcdutil/migrate.go#L121-L145

[2017-04-25 23:00] diegs commented on #476
I can take this one if you'd like.

[2017-04-25 23:04] aaronlevy commented on #476
@diegs sure - that would be great. It works -- just a bit of friction that likely is unnecessary

[2017-04-26 13:06] mikebryant commented on #455
Our main need for this is configmaps, I only added secrets as it seemed very related.
Your point is good though, I'd be happy leaving secrets out.

I think in the interim we'll just hardcode the apiserver one and have it live in two places, or have fun with sed, if we think this is just going to be solved for us in 1.7

[2017-04-26 13:10] mikebryant commented on #405
Some stuff we found out while figuring this out in our setup:
We currently have this for the kubelet:
[code]
and weave has this:
[code]

Turns out you can actually just put cni plugins in their own directory and it's capable of finding them: https://github.com/kubernetes/kubernetes/blob/7297403c69c5605a2728904a84d8216a2db673e5/pkg/kubelet/network/cni/cni.go#L39

[2017-04-27 17:34] aaronlevy commented on #475
This seems to be a non-critical warning that looks to happen because a container has been removed, but the kubelet can still try to inspect the network status. Opened a PR upstream to make this error message a little less worrying.

[2017-04-28 23:48] aaronlevy commented on #407
Unfortunately I'm not super familiar with other CNI plugins - so I can't be of immediate help. However, it should ideally just be replacing the flannel manifests with whatever CNI plugin you wish to use (although I've never personally tested this).

From an architectural perspective, I would prefer that the only access to the cluster-etcd is from the api-server (access to etcd is essentially root

[2017-04-30 07:22] dhawal55 opened #483 "kubelet is getting RBAC errors when talking to bootstrap apiserver"
I'm using latest version of bootkube v0.4.1 to bootstrap my cluster (k8s v1.6.2). However, i seeing RBAC errors in the temporary/bootstrap apiserver:
[code]

Any idea why the kubelet is getting RBAC errors even though it has the right groups?
Is the bootstrap apiserver not loading built-in roles?

[2017-04-30 08:02] dhawal55 commented on #483
I see that the certs bootkube generates for kubelet uses "system:masters" group instead of "system:nodes". https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/tls.go#L95-L116

[2017-05-01 05:30] dhawal55 opened #484 "Wait for kube-system service account to be created"
Along with waiting for kube-system namespace to be created, we should also wait for kube-system service-account to be created to avoid errors like this:

```Error creating assets: error when creating "/home/core/assets/manifests/kube-rescheduler.yaml": pods "rescheduler-v0.2.1" is forbidden: service account kube-system/default was not found, retry after the service account is created```

[2017-05-01 16:26] aaronlevy commented on #483
/cc @ericchiang

[2017-05-01 16:30] ericchiang commented on #483
@dhawal55 are you generating the kubelet cert yourself? To the best of my knowledge we don't deploy anything with a "system:nodes" organization.

Also things in the system:nodes group should be able to list pods and services[1]. Do you have full logs of your temporary control plane? Maybe the default roles aren't being initialized?

[1] https://kubernetes.io/docs/admin/authorization/rbac/#user-fac

[2017-05-01 18:57] aaronlevy opened #486 "Documentation: Running bootkube from a container"
We changed the hack/* scripts to use locally built binaries, so now there is no canonical example of using bootkbue from a container image. We should add brief documentation examples for this

[2017-05-01 19:03] rmenn commented on #486
I believe i have something which can be used, you could assign this to me. RFC on what i use currently

https://github.com/rmenn/bootkube-osx/blob/master/controller.yml#L49-L69

[2017-05-01 20:44] sym3tri opened #488 "etcd should use pod anti-affinity"
so multiple instances don't end up on same node

[2017-05-01 21:07] dhawal55 commented on #483
As per the core components roles documentation, `system:nodes` role should provide the necessary access to kubelet:
https://kubernetes.io/docs/admin/authorization/rbac/#core-component-roles

The kubelet works fine when i use 'system:masters' role.

[2017-05-01 22:27] ericchiang commented on #483
@dhawal55 bootkube should be initializing those same upstream roles. They're done thorough an init condition in the API server. Can you supply the full bootkube logs when it fails? Also if you manage to get a successful cluster up, can you dump the ClusterRoles and ClusterRoleBindings?

[code]

[2017-05-01 23:44] aaronlevy commented on #486
Yeah there might be a couple minor changes, like using `--dns=host` rather than explicit mount to `/etc/resolv.conf` (see https://github.com/coreos/tectonic-installer/blob/master/modules/bootkube/resources/bootkube.sh for reference). It might also be helpful to provide examples of using both `render` and `start` (e.g. mounting the same asset dir between them) & maybe even a docker example too.

It

[2017-05-01 23:45] aaronlevy commented on #486
It doesn't look like this lets me assign to you -- but if you're able to pick this up, that would be super helpful!

[2017-05-02 17:02] aaronlevy commented on #488
This is already true (etcd-operator will enforce this for self-hosted etcd pods)

[2017-05-02 17:02] #488 closed

[2017-05-03 15:50] alexbrand commented on #338
I just ran into this. I think this might be related: https://github.com/golang/go/issues/12342

I was able to repro this issue with Eric's certificate using `go1.7.5`. Seems fixed in `go1.8`

[2017-05-04 21:21] diegs commented on #476
I started looking at this, and one unfortunate issue is that the TPR needs to specify the IP of the bootstrap etcd server to do the migration.

Since it's a static pod using host networking it's just the IP of the node that bootkube is running on, but we don't know *that* a priori either. I was thinking could either add another flag to `bootkube render` (ugh), or I could stand up a little service

[2017-05-05 19:58] aaronlevy opened #495 "Figure out how we can re-enable healthchecks on the kube-apiserver"
We disable healthchecks on the api-server because paired with bootstrapping and checkpointing, they can make the pivot process somewhat flaky due to the apiserver using an flock (and "running", but not actually serving requests).

For example during bootstrap:

- bootstrap api-server starts (acquires lock)
- self-hosted api-server starts (waits on lock)
- kubelet tries to health-check self-hosted

[2017-05-05 21:22] lblackstone commented on #484
Where in the bootstrap process does this wait need to occur? I tried inserting [a check](https://github.com/lblackstone/bootkube/blob/svc-account-wait/pkg/bootkube/create.go#L148), which seems to work on the single-node setup, but causes it to hang forever on the multi-node setup.

My understanding is that a default service account should be created automatically for the `kube-system` namespace, b

[2017-05-09 23:17] dghubble opened #498 "Self-hosted etcd cannot survive pod deletion"
Simply deleting the etcd pod in a single master setup (most common) seems to not reconcile and create a new pod, which causes a cluster outage. This is less resilient than the default on-host setup and other control plane pods, which can recover from pod failures. In the on-host case, one can repair any etcd issues (or systemd restarts them) as long as data is still present on disk.

Longer discus

[2017-05-09 23:34] hongchaodeng commented on #498
There is only one etcd pod, right? If so, deleting it means losing the entire cluster.
We are working on disaster recovery at the moment.
For more info, please track on https://github.com/kubernetes-incubator/bootkube/issues/432 .
I think this is dup to that issue.

[2017-05-09 23:58] aaronlevy commented on #498
This would be more akin to deleting `/etc/kubernetes/etcd-pod.yaml` or deleting the etcd-member.service` (essentially you're saying "this should no longer be running on this host").

simple pod failure *should* recover (e.g. kubelet will keep trying to restart it). Deletion is a little bit more questionable.

I'll actually move this into https://github.com/kubernetes-incubator/bootkube/issues/432

[2017-05-10 00:02] aaronlevy commented on #432
Adding another failure case to consider:

From @dghubble in https://github.com/kubernetes-incubator/bootkube/issues/498

Not sure best option here. If the pod is deleted -- you're essentially saying it should no longer run on the node.

As I mentioned in the original PR:

[2017-05-10 00:02] #498 closed

[2017-05-10 06:50] hongchaodeng commented on #432
What @dghubble described doesn't make any sense. In another word, is there any real scenario that does that? All system pods would be managed by our control plane. Our bottom line is that whatever error happened, we could still recover everything. But we should not optimize such extreme, not-real scenario.

[2017-05-10 07:36] dghubble commented on #432
Just because it hasn't been considered doesn't mean it won't happen. This WILL happen to users somewhere, somehow and there will need to be an answer about how to recover. The only thing you can count on in real-world scenarios is the unexpected. Let's not dismiss this as extreme.

Plenty of the resiliency tests simulate a failure by deleting a pod to ensure it recovers. People demo recovery this

[2017-05-10 09:27] fxposter opened #502 "Flock does not propagate signals"
This is probably related to #495, but I'd like to raise a question regarding the `flock` itself.
If `flock` gets any signal (for example, `SIGTERM`) and it does already started the command that is passed to it - `flock` will die itself, but does not send the signals to the running process.
This actually means that `apiserver` and other components that are run through `flock` will be actually `SIGK

[2017-05-10 17:59] aaronlevy commented on #432
Overall I agree, and the recovery tool will support this scenario (point it at an etcd data dir). I think the open-ended question is if there is some way we might headlessly recover from this scenario (without a user running a recovery step).

One option might be to simply delay the checkpoint garbage collection decision. In this scenario the checkpointer saw that the etcd pod had been removed fro

[2017-05-11 09:04] fxposter commented on #502
Since v2.29 `flock` supports `--no-fork` option (https://github.com/karelzak/util-linux/blob/stable/v2.29/sys-utils/flock.c#L70), which will probably solve the issue, but it is not in the apiserver images, which use debian jessie, which have v2.25.

[2017-05-11 15:15] amolsh opened #503 "bootkube can not create multilevel directory for asset insertion"
Hi ,
While running bootkube "--asset-dir assets/test" , I specified this option with multilevel directory structure. But, bootkube can not create multilevel dir like "mkdir -p" option does.
for Ex. --asset-dir asset   : this will work
but not this : --asset-dir asset assets/test

[2017-05-11 19:54] philips opened #506 "Documentation: add etcd operator info"
Just a few sentences on the flag, etc.

[2017-05-12 02:22] aaronlevy commented on #354
Closing, as this can be customized in the temporary control-plane now

[2017-05-12 02:22] #354 closed

[2017-05-12 05:22] #503 closed

[2017-05-12 17:11] aaronlevy commented on #506
Gonna close as dupe of https://github.com/kubernetes-incubator/bootkube/issues/240 unless this encompasses something different

[2017-05-12 17:11] #506 closed

[2017-05-12 22:19] xiang90 opened #508 "recovery: do not try to infer etcd ip from service manifest"
We do not generate service manifest for recovery.

However, now bootkube infers etcd IP from service manifest here: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/bootkube/parse.go#L14 during start.

We should either:

1. re-generate service manifest

1. get etcd IP from kuberentes API server

I tried both. Getting it from API server probably easier actually. Kubernetes itself ha

[2017-05-13 06:55] chancez opened #510 "Avoid using host networking on self-hosted API server"
Broken off from #456.

Overall I think it's reasonable that if you can avoid using host networking, that's probably a good thing. I understand today bootkube uses hostNetworking so it can start the API server without pod networking, but this seems like the ordering of how self-hosted components is somewhat odd:

Today it is something like:

1. host kubelet
1. bootkube temporary control plane
1. se

[2017-05-13 06:56] chancez commented on #456
Broke of the other piece into it's own issue.

[2017-05-13 06:58] xiang90 commented on #456
have you tried this with 1.6? @hongchaodeng tried this the other day. and it does not seem to work.

[2017-05-13 07:00] chancez commented on #456
I haven't tried it yet, no. If that's the case, there's still the option of figuring out how to make it use pod networking.

[2017-05-15 16:28] aaronlevy commented on #510
A potential issue is that recovery becomes more complex as well (because pod-networking must be working to properly recover the apiserver, but the apiserver needs to be running to start the pod-network). The are options we could explore with checkpointing, but this adds a non-trivial amount of complexity.

Assuming the two base components we need (etcd + apiserver) do not have circular dependencie

[2017-05-15 18:57] aaronlevy opened #513 "Add Calico network policy support"
This should be "policy-only" support (leaving flannel as the pod-network provider).

See: Calico policy-only documentation here:

http://docs.projectcalico.org/v2.2/getting-started/kubernetes/installation/hosted/kubernetes-datastore/

@abhinavdahiya is going to pick this up. I'll assign once he's part of the org.

/cc @joshrosso @yifan-gu

[2017-05-15 19:33] rmenn commented on #513
its really funny since i worked with @abhinavdahiya, i have a working config for canal, there is something which works with canal but a `ExecStartPre=chmod 777 /etc/cni/net.d/`  which enables canal to write a file.
 This line causes a problem and the chmod does not take effect
https://github.com/projectcalico/cni-plugin/blob/master/k8s-install/scripts/install-cni.sh#L100

If needed i can get the l

[2017-05-15 22:10] #508 closed

[2017-05-16 17:55] #344 closed

[2017-05-17 18:34] yifan-gu opened #517 "Add license boilerplate for source code files?"
Just noticed that none of the source code files have the license boilerplate in the head. So opening an issue here to track this.

[2017-05-17 18:42] aaronlevy opened #518 "Daemonset objects should use rolling update strategy"
We should make use of daemonset rolling update functionality now that we're on v1.6:

https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

The fields will need to be added to our manifests (the default is the existing behavior).

[2017-05-17 19:04] aaronlevy opened #519 "Remove critical-pod annotations from scheduler & controller-manager"
If we mark the scheduler as critical, for example, then it happens to get in a state where a pod is unscheduled because the scheduler is down (e.g. https://github.com/kubernetes-incubator/bootkube/issues/112) -- will the rescheduler start evicting other workloads?

This would be pretty dangerous as it would likely just keep evicting workloads even though it will never be scheduled (no scheduler to

[2017-05-18 17:03] #476 closed

[2017-05-18 17:08] rimusz commented on #476
👍

[2017-05-18 18:23] rimusz opened #522 "`kube-etcd-cluster.yaml` manifest should be rendered to manifests folder"
render should store `kube-etcd-cluster.yaml` in manifests folder

[2017-05-19 12:15] jamiehannaford commented on #495
Some of kubelet's flock stuff is in [`util/flock`](https://github.com/kubernetes/kubernetes/tree/master/pkg/util/flock), so it can be re-used. The `--exit-on-lock-contention` code which monitors the lock file is [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server_linux.go#L24) but can probably be shifted over. I'm wondering if a readiness probe can be set up using so

[2017-05-19 16:36] aaronlevy commented on #495
The readiness probe against the lock is an interesting idea. IIRC, however, the liveness would be checked prior to readiness (and would still cause the pod to die). Could be wrong on that though.

Also @diegs and I were talking about this yesterday, and we may not need the lock at all. This is mostly to protect against flapping during checkpointing. From another thread:

However, all we really car

[2017-05-19 16:37] rimusz commented on #522
missed #496 which fixes this issue, so closing it

[2017-05-19 16:37] #522 closed

[2017-05-19 17:43] dghubble opened #531 "Bootstrap self-hosted etcd is using the 200th IP in the service range"
Is there a reason to pick the 200th IP in the service range for bootstrap self-hosted etcd? The other IP offsets for apiserver, dns, and self-hosted etcd are 1, 10 and 15 respectively. Did you mean to pick 20?

https://github.com/kubernetes-incubator/bootkube/blob/master/cmd/bootkube/render.go#L24

I ask because this seems to assume the service range is a `/24` or larger. I'd expect inputing a `/2

[2017-05-19 17:47] dghubble commented on #531
This doesn't affect me directly, but I know some users were using a `/27`.

[2017-05-19 18:01] jamiehannaford commented on #495
Not if you set the `initialDelaySeconds` higher or equal to the flock timeout. After 30s, the apiserver will either be running (and the liveness probe will begin) or dead because it hasn't acquired the lock (in which case no liveness probe ever runs). That's my assumption though.

I get how this might help from a checkpointing perspective, but what about the scenario outlined in https://github.com

[2017-05-20 01:30] philips opened #534 "Use atomic writes instead of WriteFile"
Periodically I am getting null Object kinds on one of my nodes.

[code]

This line of code is the cause, need to use WriteAtomic https://github.com/kubernetes-incubator/bootkube/blob/57674db6ef97a7d73ba7d92d0203ecefaf4e0695/cmd/checkpoint/main.go#L683

Some more logs: https://gist.github.com/philips/565552abf726e8c9aec7a3dbbd2ca4e9

[2017-05-20 01:31] philips commented on #534
cc @aaronlevy

[2017-05-20 02:45] chancez commented on #534
Add by WriteAtomic you mean write to a tmpfile and rename?

[2017-05-20 13:23] fxposter commented on #534
I guess @philips talks about https://github.com/kubernetes-incubator/bootkube/blob/57674db6ef97a7d73ba7d92d0203ecefaf4e0695/cmd/checkpoint/main.go#L794

[2017-05-24 00:39] aaronlevy commented on #534
closed in https://github.com/kubernetes-incubator/bootkube/pull/537

[2017-05-24 00:39] #534 closed

[2017-05-24 21:56] diegs opened #544 "Self-checkpointed checkpointer crashloops"
I noticed this on a running cluster:

[code]

I'm not sure why the process is exiting there. The flock call should be blocking indefinitely. Kubernetes says it's exiting with code 2:

[code]

The code itself should be logging an error if the flock system call fails, and `glog.Flush()` should also be running. Perhaps an uncaught `panic` is happening somewhere?

The manifests for the deployed and se

[2017-05-24 22:38] aaronlevy commented on #544
I have a feeling that this is being surfaced due to the atomic rename change.

The docker containers are exiting roughly every 3 seconds, and that's about how often we check if we should be starting the checkpoint. In this case we're trying to start the checkpointer itself every 3 seconds, then it's failing (also see the active checkpoint timestamp being updated).

Likely want to check if active c

[2017-05-24 22:50] diegs commented on #544
@aaronlevy I'm not sure if I follow your explanation, but is this a regression?

[2017-05-24 23:18] diegs opened #545 "Use tags for checkpointer releases"
Currently we are using hashes, which is a little unwieldy.

[2017-05-25 02:02] diegs opened #547 "Add rolling update strategy to all daemonsets"
We should add the rolling update strategy to all our daemonsets.

[code]

[2017-05-25 17:05] #544 closed

[2017-05-25 17:22] #518 closed

[2017-05-25 17:22] aaronlevy commented on #547
Fixed in https://github.com/kubernetes-incubator/bootkube/issues/547

[2017-05-25 17:22] #547 closed

[2017-05-25 17:56] diegs commented on #547
I think you meant #542, but great!

[2017-05-26 18:30] bzub commented on #407
I've written [documentation and manifests](https://github.com/cloudnativelabs/kube-router/tree/master/contrib/bootkube) to use [kube-router](https://github.com/cloudnativelabs/kube-router) with Bootkube as an alternative to both kube-proxy and flannel.  It also provides NetworkPolicy enforcement.  I'd be willing to submit a PR that adds a link to the documentation if there's any interest.

[2017-05-26 18:39] pbx0 opened #552 "hack/terraform-quickstart flake"
Occasionally terraform will successfully complete but the IP address in the output variable for the bootstrap node is blank, causing the start scripts to fail.

1 example: https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-e2e-pr-selfetcd/55/

[2017-05-30 13:47] luxas commented on #424
friendly ping @aaronlevy

[2017-05-30 21:18] aaronlevy commented on #545
It would feel a little weird to have checkpointer specific release tags in this repo. Or it means we have to tie checkpointer version to bootkube version. Kind of leaning toward relying on hashes unless the checkpointer is moved outside this repo (then it can have its own release tags)

[2017-05-31 10:16] janwillies opened #556 "http_proxy support"
I'm trying to get bootkube working when there's only an http_proxy available to communicate with the internet. Since we are running on AWS, the apiserver and controller-manager need to talk to the AWS API.

After `bootkube render` I edited the following files and added

- assets/bootstrap-manifests/bootstrap-apiserver.yaml
- assets/bootstrap-manifests/bootstrap-controller-manager.yaml
- assets/man

[2017-05-31 20:21] SEJeff commented on #407
@bzub there is definitely interest, thanks!

[2017-05-31 23:04] abhinavdahiya opened #557 "Enable logging during bootstrap phase"
Right now the only way to access the kubelet logs and logs of the static pods in the bootstrap control plane on the bootstrap node is to ssh into the node!

It would ideal if we could deploy something like a static fluentd pod on the bootstrap node to upload all the logs to something like a s3 bucket for debugging purposes.

/cc: @aaronlevy @yifan-gu @diegs

[2017-06-02 01:19] abhinavdahiya commented on #557
fluentd is a good option for extracting logs as it have various configurable input & output options, esp output to s3 bucket.

fluentd needs a fluent.conf to configure sources & outputs

Some ways we can implement is
- static pod during bootstrap
** fluentd.conf is shipped in asset-dir
** bake fluentd.conf in a custom fluentd-image
- non static pod after api-server is up.

[2017-06-02 01:48] yifan-gu commented on #557
At the first glance, a custom fluentd image seems cleaner than shipping config file in the asset-dir given that it hides the details and the config file should be pretty stable. The cons are that if we do want to make a change on conf file or fluentd image, we need to bake a new image.

Non-static pod might be a less ideal option as it will depend on api server to be running before it can be deplo

[2017-06-02 16:33] diegs commented on #557
It seems like there are 2 main areas we want to address.

(1) Issues during bootstrap, e.g. the boostrap control plane doesn't come up.
(2) Issues with the self-hosted control plane and downstream operations (this is not bootkube-specific and is more relevant to tectonic-installer, various operators, and test frameworks).

For (1) I think a static fluentd pod that can hook up to something easily a

[2017-06-02 20:17] pbx0 commented on #557
Current logging code in the pluton e2e tests uses the package: [github.com/coreos/mantle/network/journal](https://github.com/coreos/mantle/tree/540ba76432795d30c15c71003c8c070c1f7d6876/network/journal) to stream the journal logs as the test runs and then picks back up at the last cursor during reboots. Might be overkill for bootkube needs, but it could be re-used in the current (non-pluton) framew

[2017-06-02 22:49] dghubble commented on #445
Unblocked by https://github.com/coreos/etcd-operator/pull/1103? cc @xiang90 @hongchaodeng

[2017-06-02 22:55] xiang90 commented on #445
@dghubble Yes. It is unblocked now.

[2017-06-03 13:46] v1k0d3n commented on #407
@bzub this is definitely interesting. i started working on a [bootkube-ci](https://github.com/v1k0d3n/bootkube-ci) repo, just so i can quickly standup and tear down bootkube deployments, and I have simply been auto-removing the flannel manifests and deploying custom calico/canal manifests (with policy enforcement). i will have to check out your suggestion for kube-router...it's definitely interest

[2017-06-05 18:31] diegs commented on #531
@dghubble I picked something out of the way because I didn't want to conflict with any permanent self-hosted services.

I can change it to something lower, though, if using `/27` is something users do.

[2017-06-05 19:05] dghubble commented on #531
:+1: This will fix one thing @redbeard was experiencing.

[2017-06-05 20:28] #531 closed

[2017-06-05 22:48] hongchaodeng opened #563 "Set resource requirements for self-hosted etcd"
Currently we haven't set any resource requirements for self-hosted etcd pods. This could be done via cluster spec.

For each etcd pod, we should require at least 1GB mem and 1 core cpu.

[2017-06-05 22:51] hongchaodeng commented on #563
cc @xiang90 @aaronlevy

[2017-06-06 17:24] aaronlevy commented on #552
job info not public, so for posterity:

[code]

[2017-06-06 17:31] aaronlevy commented on #556
Hmm I wonder if you're running into something like: https://github.com/kubernetes-incubator/bootkube/issues/455

During a pivot of api-servers you might be temporarily running the checkpointed copy. However, I would expect hard-coded env variables to persist in the manifest just fine (are these values being populated differently than just hard-coding?)

[2017-06-06 17:40] aaronlevy opened #565 "Use versioned config file in render/start as replacement of flags"
Before going 1.0 bootkube should have some compatibility enforcement. It's difficult to do this with flags, so we probably should move to something like a versioned config file that is consumed by both the `render` and `start` subcommands.

[2017-06-06 17:48] aaronlevy commented on #106
Now that https://github.com/kubernetes-incubator/bootkube/issues/168 is implemented - the needed flexibility is essentially allowing an admin to modify anything about the rendered manifests. This proposal wouldn't really add much unless we wanted to further abstract higher-level concepts (which we likely do not).

I still think we probably want to move to a versioned config file rather than flags

[2017-06-06 17:48] #106 closed

[2017-06-06 21:41] yifan-gu opened #568 "E2E tests flake: Sometimes failed to reboot node"
Catch failures appeared in https://github.com/kubernetes-incubator/bootkube/pull/532
[code]
The error probable comes from https://github.com/kubernetes-incubator/bootkube/blob/d8348ec373d778c247bcf9e687b94956f8c06f1d/e2e/node.go#L59

Needs more investigation.

[2017-06-06 22:03] alekssaul commented on #556
Hi @janwillies ,

Have you tried using the method in; https://github.com/coreos/tectonic-forum/issues/89#issuecomment-289451564 . I've setup Tectonic (uses bootkube) at a few customers with proxy, on-premise environments.

In my experience the proxy has been required to fetch docker and rkt/aci images. Does Kubernetes components need to talk to AWS API over an http(s) proxy?

[2017-06-07 17:05] rimusz opened #571 "bootkube support for GCE as cloud provider"
enabling GCE as cloud provider gives such error:
[code]
So PVCs, no LBs can be created.
Instances have full API access.

[2017-06-07 17:08] rimusz commented on #571
adding scopes as below did not help:
[code]

[2017-06-07 17:16] dghubble commented on #571
You may want to read through https://github.com/kubernetes-incubator/bootkube/issues/463

[2017-06-07 17:39] rimusz commented on #571
oh, upstream bug, not really easy to solve then :(

[2017-06-07 17:41] abourget commented on #112
Another simple way to hook back a Pod to a Node, when Scheduler + Controller-manager are dead:

`kubectl create -f rescue-binding.yaml`

with this content:

[code]

A _Binding_ is the objected injected in the K8s cluster when the Schedule takes a scheduling decision. You can do the same manually.

[2017-06-07 18:13] pbx0 opened #572 "E2E Flakes: CheckpointerUnscheduleParent"
[code]

cc @yifan-gu Seen running 1 master 1 worker non-self-hosted etcd cluster.

[2017-06-07 20:56] janwillies commented on #556
@aaronlevy I think I looked for the checkpointed manifests but couldn't find them in /etc/kubernetes for some reason. If I run into the issue again, I'll look closer.
I'm just adding the variables manually to the yamls, after an initial `bootkube render`. The weird thing was when running into the issue, that the POD_IP variable was still there, but my own ones weren't.

Thanks @alekssaul thats goo

[2017-06-09 14:11] lblackstone opened #575 "Proposal: change flannel port to 4789"
The [tectonic-installer](https://github.com/coreos/tectonic-installer/commit/b620c16f0a4b82ee65b2d248fd98512a9f7e430e) repo uses 4789 as the IANA-defined port for flannel. If it doesn't break anything, it might be worth updating here as well.

Related links:
## bootkube
[flannel-cfg](https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/internal/templates.go#L1043-L1049)
[port doc

[2017-06-09 17:32] diegs opened #576 "Recover command does not strip runAsNonRoot from bootstrap manifests"
`bootkube recover` generates bootstrap manifests by extracting self-hosted manifests. However, self-hosted manifests now run as non-root when possible, but this does not work for bootstrap manifests because they need to read root-owned files from the host, such as `/etc/kubernetes/kubeconfig`.

Since `bootkube recover` already does some manifest mangling, we can probably also just remove the `runA

[2017-06-09 19:06] #576 closed

[2017-06-13 18:35] diegs commented on #545
Closing in favor of moving to a separate incubator project.

[2017-06-13 18:35] #545 closed

[2017-06-14 13:37] sstarcher opened #581 "etcd-operator on aws s3 backups"
Setup:
* bootkube 0.4.4
* aws
* self hosted etcd

Change:
* configuring the etcd-operator to backup to an s3 bucket
[code]

Reference: https://github.com/coreos/etcd-operator/issues/1196

In the above situation the etcd-operator attempts to create `/etc/etcd-operator` directory, but bootkube is setting the user to a non-root user who does not have access to create that directory.

The result is th

[2017-06-14 17:44] hongchaodeng opened #582 "Add TLS to self-hosted etcd"
Currently self-hosted etcd mode doesn't have TLS option. We want to make use of static TLS feature in etcd operator and provide that in self-hosted etcd.

Attach plan in bootkube:
- ~~Add flags to pass in etcd server's client and peer communication x509 certs~~
- [X] Auto-generate 3 (CA, key, cert) certificate suites for self-hosted etcd (https://github.com/kubernetes-incubator/bootkube/issues/585

[2017-06-14 23:20] hongchaodeng commented on #582
@diegs @aaronlevy
To continue discuss at https://github.com/kubernetes-incubator/bootkube/pull/583#discussion_r122050298,
I have updated the top comment to reflect what would be included in auto-generated certs.

[2017-06-15 14:29] sstarcher commented on #581
Location of the code https://github.com/coreos/etcd-operator/blob/859be539426b252765bc2f15b10c1836eef059e9/pkg/cluster/backupstorage/s3.go#L38

[2017-06-15 14:30] sstarcher commented on #581
The etcd-operator manifest is running the container as the non-root user so when it attempts to create /etc/etcd-operator it fails.

[2017-06-15 21:26] aaronlevy commented on #582
Are localhost and 127.0.0.1 necessary?

I'm unsure about only adding san's for the full dns name (`.kube-system.svc.cluster.local`) You don't actually have to use full domain. Would we want to have san's, for example, of:

kube-etcd-client
kube-etcd-client.kube-system
kube-etcd-client.kube-system.svc
kube-etcd-client.kube-system.cluster.local
*.kube-etcd
*.kube-etcd.kube-system
*.kube-etcd.kube-sy

[2017-06-15 21:33] hongchaodeng commented on #582
Yes.
`localhost` is used by operator to do health-checking. It is also useful to do inspection when failure happens.
`127.0.0.1` is used by bootstrap control plane.

We need to use FQDN. This is an assumption made in etcd operator.
It is possible to make it configurable. I'm not sure we might need to try it out.

Definitely aware of this.
See https://github.com/coreos/etcd-operator/issues/1021
We

[2017-06-15 22:41] diegs commented on #582
Should you also add `::1` then for ipv6 compatibility? IIRC you are only supposed to use ip addresses to talk to etcd, otherwise we could just change bootkube to use `localhost`.

[2017-06-15 23:15] hongchaodeng commented on #582
Bootkube only relies on `127.0.0.1` in its templates at the moment.

I totally agree with that.
For my PR, I don't want to achieve too many goals in one PR. Ideally I would make incremental changes to achieve all the goals eventually.

[2017-06-16 00:07] dghubble commented on #582
What's the rationale for having a separate client certificate / key pair for the etcd operator? Is that motivated by some sort of isolation concern?

[2017-06-16 03:39] hongchaodeng commented on #582
@dghubble
What do you mean by "separate"?

[2017-06-16 20:01] hongchaodeng opened #590 "Bootkube PR/e2e tests take 30-40minutes"
bootkube CI is too long. It spends 30-40 mins to wait for each pass.

It is too flaky. I'm sure some correct changes would take 4-5 times to get all green passes.

[2017-06-18 02:32] xiang90 commented on #590
I agree. We should put some serious effort to make the tests more reliable. Almost all PRs are blocked by flaky tests right now.

/cc @aaronlevy

[2017-06-19 00:37] alekssaul opened #594 "bootstrap process workflow, controller/scheduler podaffinity issue"
My understanding of the current bootkube workflow is;

1. bootkube comes up with temporary control plane including short lived bootstrap pods for API server/controller/scheduler
1. [apiTest()](https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/bootkube/create.go#L137-L156) waits for API server to be ready
1. Then we inject the long lived assets (kube-dns, flannel, api server ds, cont

[2017-06-19 10:34] klausenbusk commented on #311
I'm currently using `nginx-proxy` ([pod](https://github.com/kubernetes-incubator/kubespray/blob/15589dd88f61e951d43a995b618a9d318b82e510/roles/kubernetes/node/templates/manifests/nginx-proxy.manifest.j2),[template](https://github.com/kubernetes-incubator/kubespray/blob/0afadb914959d74fc20b2eee6bbef50a6f07f515/roles/kubernetes/node/tasks/nginx-proxy.yml), [nginx.conf](https://github.com/kubernetes-

[2017-06-19 20:22] #432 closed

[2017-06-19 22:12] hongchaodeng opened #596 "Add recovery test in CI"
`bootkube recover` is an important tool that we provide officially to users. It would be great to have recovery test added to CI.

Reference:
- https://github.com/kubernetes-incubator/bootkube/blob/master/hack/multi-node/bootkube-test-recovery-self-hosted-etcd
- https://github.com/kubernetes-incubator/bootkube/blob/master/hack/multi-node/bootkube-test-recovery

[2017-06-19 23:32] aaronlevy commented on #575
That change seems reasonable to me

[2017-06-19 23:33] aaronlevy commented on #581
cc @xiang90 @hongchaodeng

[2017-06-19 23:39] sstarcher commented on #581
@aaronlevy @hongchaodeng already closed my other ticket against the etcd-operator saying the issue is with bootkube.

[2017-06-19 23:50] xiang90 commented on #581
Yes. We are going to solve it here

[2017-06-19 23:51] aaronlevy commented on #594
This seems like a reasonable approach - but that being said, we've tended towards trying to keep as few coordination points as possible to reduce the internal complexity of bootkube. Although not a hard rule (e.g. we've considered it for other things like making sure DNS service IP doesn't get stolen: https://github.com/kubernetes-incubator/bootkube/issues/136 )

However, with that in mind, I stil

[2017-06-20 00:06] pbx0 commented on #552
terraform was bumped to 0.9.6, but the issue was still witnessed.

[2017-06-20 02:24] alekssaul commented on #594
Missed the latest updates on this topic, thanks @aaronlevy .

Gave 1129 a try, initial provisioning placement looks great to me;
[code]

I am good to close this

[2017-06-20 16:34] #594 closed

[2017-06-20 22:14] pbx0 commented on #552
This should be solved now by issuing `./terraform refresh` a few seconds after the resources are created. I added that to all PR e2e jobs, we can re-open if the issue is seen again.

[2017-06-20 22:14] #552 closed

[2017-06-21 01:41] coresolve opened #599 "self hosted etcd has a circular dependency on service ip."
With self hosted etcd we see that significant memory pressure on the masters will cause the cluster to become unstable.

This will mean that the kubelet will eventually mark all the etcd pods unhealthy and thus the kube-proxy will rejecting packets headed for the `kube-system/etcd-service:client`

At this point the apiserver is unable to start as it is configured to connect to etcd cluster with th

[2017-06-21 02:12] chancez commented on #599
https://github.com/coreos/etcd-operator/issues/622 seems related.

[2017-06-21 03:56] hongchaodeng commented on #599
Tolerate unreadiness is not enough. We also need to take into account restarts.

[2017-06-21 04:49] hongchaodeng commented on #599
From this comment: https://github.com/kubernetes/kubernetes/issues/25283#issuecomment-264099193

Seems the tolerate-unready feature might be able to tolerate restart (rolling upgrade). We need to test out though

[2017-06-21 18:48] hongchaodeng opened #601 "After recovery, required pods could show "running" even though they are not"
We require certain pods to bootstrap before pivoting.
However, after recovery, it seems like those pods' statuses are still "Running" and bootkube could immediately jump through.
[code]

[2017-06-21 18:55] aaronlevy opened #602 "Readme instructions for `go get` don't work"
Not sure when they ever did, but I don't think we expect this to be `go get` able.

[2017-06-21 18:56] radhikapc commented on #602
thanks :-)

[2017-06-21 19:04] radhikapc commented on #602
more issues:
`Radhikas-MBP:bin pcradhika$ make install
make: *** No rule to make target `install'.  Stop.`

[2017-06-21 19:53] xiang90 commented on #601
@hongchaodeng That is somewhat expected. API server reports there last know status before the recovery happened, which is probably just running.

[2017-06-21 19:56] hongchaodeng commented on #601
@xiang90
So it might be right that the status is "running".
But in bootstrap we use the status to ensure the pods are running, which aren't guaranteed now.

[2017-06-21 20:06] xiang90 commented on #601
@hongchaodeng Right... The assumption that the "running" does mean the process is running is not accurate anymore.

[2017-06-21 23:20] hongchaodeng commented on #581
Since there are too many opinions in https://github.com/kubernetes-incubator/bootkube/pull/598, let's close the PR and continue the discussion here until we have a solution.

[2017-06-21 23:23] sstarcher commented on #581
This is simple to solve,  have the container create the directory so the code does not have to. The code should run as nobody. This should be fixed on the etcd operator side.

[2017-06-21 23:27] hongchaodeng commented on #581
@sstarcher
Yeah. That sounds good to me.

[2017-06-21 23:28] xiang90 commented on #581
@hongchaodeng

@diegs mentioned to me, we also try to access ./etc/.aws. probably also need to figure that out.

[2017-06-22 15:23] xiang90 commented on #581
@sstarcher

nobody can only access /tmp, no? We cannot use /tmp to store tmp snapshot files as they can be quite large.

@aaronlevy we probably can change the code in the operator to use $HOME. But still, we need to pass in a uid rather than nobody in bootkube. Is it the direction you would like to see?

[2017-06-22 16:40] aaronlevy commented on #571
I'm going to close this as a duplicate of https://github.com/kubernetes-incubator/bootkube/issues/463 so we can keep discussion in one place.

[2017-06-22 16:40] #571 closed

[2017-06-22 16:40] aaronlevy commented on #463
https://github.com/kubernetes/kubernetes/blob/166a0e440d477dff56e62857de03d1e4cd100c99/pkg/kubelet/kubelet_network.go#L82 Looks to be culprit.

[2017-06-22 16:41] aaronlevy commented on #463
Also related: https://github.com/kubernetes/kubernetes/pull/34398

[2017-06-22 17:01] squeed commented on #463
Indeed - if you're thinking to yourself "it worked on AWS, dammit!?!?" - that's the reason.

[2017-06-22 17:43] aaronlevy commented on #581
Maybe `/var/tmp`?

The `nobody` user by convention shouldn't own files -- but given this is ephemeral data that isn't exposed outside the container fs (except on s3) -- I don't have strong opinion here. Could also just pick a random uid - as it again doesn't map outside the container fs.

[2017-06-22 17:44] hongchaodeng commented on #582
TLS is done.

[2017-06-22 17:44] #582 closed

[2017-06-22 17:53] pbx0 opened #605 "CI matrix is larger now that we have Calico option"
Currently our CI runs a set of e2e tests with 2 cluster configurations: with self-hosted etcd and without. We have a new Calico flag that has been added. So technically we should have 4 CI jobs kick off on each PR for each cluster configuration. I propose that maybe we just do 3 since maybe its not so important that calico is tested both with self-hosted etcd and without. So we could have:
[code]

[2017-06-22 17:55] hongchaodeng commented on #581
I don't think we should put the data under `/var/tmp`, because it is not temp -- it is configuration data.

Ideally, I want it to be under `/etc/etcd-operator`, which is what we currently do. But I'm also fine to put it under `$HOME/.etc/`.

[2017-06-22 17:57] aaronlevy commented on #581
/etc is owned by root, I'd prefer not to run as root solely to keep using that path. Other than that I don't have strong opinions.

[2017-06-22 17:59] aaronlevy commented on #581
@hongchaodeng looking at the code in: https://github.com/coreos/etcd-operator/blob/859be539426b252765bc2f15b10c1836eef059e9/pkg/cluster/backupstorage/s3.go#L98

Why do we need to access that secret ourselves and write to disk? Why not just actually add the required secret to the operator manifest?

[2017-06-22 18:03] hongchaodeng commented on #581
The aws-sdk-go client we use require to pass in file. The secret is used by both the operator pod and per cluster backup sidecar.

[2017-06-22 18:21] aaronlevy commented on #581
From offline discussion: secrets are not being used directly as part of the operator manifest because for each new etcd cluster you create a new secret is dynamically created - so they're not known at initial runtime.

[2017-06-22 19:22] chancez commented on #581
@aaronlevy /etc is owned by root, but subdirectories don't need to be. The image can just do this:
[code]

Would this not be sufficient?

[2017-06-22 19:27] aaronlevy commented on #581
Any of these would be fine. This is a decision for etcd-operator to make

[2017-06-22 19:29] aaronlevy commented on #581
Really the requirement here is that this container should not need to run as root. We eventually want to put podSecurityPolicies in place such that this is enforced at the api layer. So the more we can fix now the easier that will be in the future.

[2017-06-22 19:33] hongchaodeng commented on #581
@chancez
Thanks for the suggestions. But that has two assumptions: 1. it is assuming `/etc/etcd-operator` inside Dockerfile, thus coupling Dockerfile with operator's internal logic; 2. it's assuming etcd operator is run as `nobody`.

[2017-06-22 19:34] hongchaodeng commented on #581
User can still set the user in pod spec. We can't enforce it, can we?

[2017-06-22 19:36] pbx0 commented on #605
I believe it got set to on by default to make the new network policy tests pass. I should have made this issue a stopper for reviewing/merging looking back. So at minimum we need the network policy tests to self-skip in absence of Calico and then turn calico back to false by default or set explicitly in CI. Then we could add a third test later to keep those tests getting exercised. Maybe gate it u

[2017-06-22 20:17] chancez commented on #581
@hongchaodeng Well, you can set the user to nobody in the image as well, then you don't have to assume the user is being set at runtime at all, which is what I was suggesting when I was mentioning creating an etcd-operator user.

Ex, I think this is the best option overall, updating the etcd-operator dockerfile to this:

[code]

Then you leave the user unset in the pod spec, and if users want to c

[2017-06-22 21:02] hongchaodeng commented on #581
That's something I worry about. Even if we set user in Dockerfile, it can still be changed in pod spec. I would leave this as open question until there is a definite answer to where to set user in kubernetes deployment story

[2017-06-22 21:08] hongchaodeng commented on #581
This still violates item 1 in https://github.com/kubernetes-incubator/bootkube/issues/581#issuecomment-310480078

[2017-06-22 21:09] chancez commented on #581
@hongchaodeng Right, but that's always going to cause problems if you _ever_ intend to run as non-root. If someone changes the user, then the directory inside is always going to have the wrong permissions. There's no way around that unless you let your application run as root. That's just a trade off you have to make.

I don't understand why you care about assuming a directory exists in the image?

[2017-06-22 21:19] hongchaodeng commented on #581
That's why we decided to use `$HOME/etc` .

Can you read my comment on https://github.com/kubernetes-incubator/bootkube/issues/581#issuecomment-310480078 ?

[2017-06-22 21:31] chancez commented on #581
@hongchaodeng How do you plan on creating `$HOME/etc` with the correct owner then? It would need to be during container startup or the operator would need to do it, based on the current user probably, but I feel like this is way simpler and easier to just do in the image.

Additionally, $HOME won't exist in the docker image unless this user also has been created within the docker image. So this wi

[2017-06-22 21:34] yifan-gu commented on #513
I believe this is now implemented by #524

[2017-06-22 21:34] #513 closed

[2017-06-22 21:47] hongchaodeng commented on #581
@chancez
So what's the problem? You have argued so much but I don't see you mentioned any problem explicitly?

[2017-06-22 22:12] hongchaodeng commented on #581
@aaronlevy
Actually I regret. etcd operator should be run as root inside container. This is for real use case. For example, if I encounter problems and need to do debugging, `kubectl exec` into the container would give me more power, e.g. `apk add curl` and do stuff.

[2017-06-22 22:16] xiang90 commented on #581
@hongchaodeng

Can you build a debugging container for testing/dev purpose?

[2017-06-22 22:17] hongchaodeng commented on #581
@xiang90
What if it encountered issues in prod?

[2017-06-22 22:24] chancez commented on #581
@hongchaodeng I'm saying that whatever your solution is for creating the directory in $HOME/etc is probably not going to work for arbitrary users, and if it isn't going to work for arbitrary users, you might as well do it all in the Dockerfile/image as I've suggested.

Regarding running as root for debugging, if you actually need root, you can use nsenter from the host as root, or you can create a

[2017-06-22 22:29] hongchaodeng commented on #581
@chancez
Why it is not gonna work? Please give explicit example.

[2017-06-22 22:31] hongchaodeng commented on #581
Relying on nsenter is creating another dependency on non-standard tool and introduces more maintaining/debugging overhead. Not everyone knows how to use such custom tool. And the tool could be buggy and unmaintained.

[2017-06-22 22:31] aaronlevy commented on #581
Honestly I would just use `/var/tmp`. This data only exists for the lifetime of the pod - so it is ephemeral anyway. If you want to change it in the future, change it to whatever you want when releasing a new operator - there is no external dependencies - and the data would be replaced in the new pod anyway.

Then if you need root you can `docker exec` into the container as a different user.

I'm

[2017-06-22 22:39] hongchaodeng commented on #581
Yep. This solve my concern.

OK. Let's just use `/var/tmp`.

[2017-06-22 23:15] hongchaodeng commented on #581
https://github.com/coreos/etcd-operator/pull/1215 should fix the issue.

[2017-06-23 16:58] hongchaodeng commented on #581
@sstarcher
Can you give latest operator a try and see if it fixes your problem?
Image: `quay.io/coreos/etcd-operator:dev`

[2017-06-23 17:02] sstarcher commented on #581
@hongchaodeng I'll give it a spin on Monday or Tuesday.

[2017-06-23 17:56] hongchaodeng commented on #581
@sstarcher Thanks!

[2017-06-23 23:51] dghubble opened #611 "etcd TLS paths are inconsistent or disorganized"
When experimental self-hosted etcd is enabled, there are some particular expectations about the naming and structure of various etcd certificates and keys in code. For downstreams doing their own rendering (like Tectonic) this could be inconvenient:

- Inconsistent suffix ".crt" or ".key" vs ".pem"
- Undocumented uses of each certificate pair type
- Some of these paths are hard requirements (coded

[2017-06-24 01:38] aaronlevy commented on #611
Agree we should get this more consistent.

Also a little confused by all the certs. Is there a reason that the operator gets its own set of certs (is it not just a client of etcd?) and why do we generate etcd client/peer certs, then generate different etcd/peer certs for an etcd member?

[2017-06-24 20:22] bison opened #612 "Recovery doesn't support self-hosted etcd without TLS"
It looks like after #592, `bootkube recover` doesn't work with a self-hosted etcd that doesn't use TLS. I get errors about required assets being missing:

[code]

Recovery of the assets works fine with a version built before that PR. Is that something that's going to be supported going forward?

[2017-06-24 21:49] dghubble commented on #445
Closed by #582

[2017-06-24 21:49] #445 closed

[2017-06-25 17:09] hongchaodeng commented on #611
Ideally, operator has its own cert, which is different from apiserver's. This can be reduced to couple apiserver and operator's cert. But I'm also afraid of that coupling. Do you want that? Is it a big problem have another cert?

These are required to bootstrap secure etcd cluster.

[2017-06-25 17:10] hongchaodeng commented on #612
@aaronlevy
Does bootkube want to handle non-TLS case in the future?

[2017-06-26 17:58] diegs commented on #611
I think it's clearer to have separate copies of things for each component, since it's easier to reason about the dependencies for each (even if the contents are the same).

[2017-06-26 17:59] xiang90 commented on #611
@diegs

agree.

[2017-06-26 18:07] dghubble commented on #611
In bootkube render, the same etcd client certs are copied for both apiserver and operator, right?
 https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/tls.go#L192

I'm not opposed to the separate cert design, I've faithfully reproduced what bootkube render does in https://github.com/coreos/bootkube-terraform which is used for matchbox examples. I would consider the inconsistent

[2017-06-26 18:11] aaronlevy commented on #611
I agree about the suffixes. Let's get those in sync across all assets. I could go either way `-crt.pem` or `.crt` -- Does anyone have any preference?

Also @hongchaodeng @xiang90 can you validate if the tectonic implementation needs to be changed?

[2017-06-26 18:45] aaronlevy commented on #611
Actually given that these are new certs, I'd probably prefer to change them to be more in-line with our existing generated certs (`.crt` & `.key`).

[2017-06-26 18:47] dghubble commented on #611
@aaronlevy I'd agree about `.crt` and `.key`, because the existing certs are used in some locksmithd configs on some clusters and I'd prefer to leave those unchanged.

[2017-06-26 18:49] aaronlevy commented on #611
@hongchaodeng can you expand on the difference between `AssetPathEtcdPeerKey/Cert` and `AssetPathSelfHostedEtcdMemberPeerKey/Cert`. I'm not clear on why two different peer certs are required to bootstrap the cluster.

[2017-06-26 19:08] hongchaodeng commented on #611
No. Only one exist.

`AssetPathEtcdPeerKey` is for non-self-hosted case.
`AssetPathSelfHostedEtcdMemberPeerKey` is used for self-hosted case. Self-hosted certs naming needs to following some rules described in https://github.com/coreos/etcd-operator/blob/master/doc/user/cluster_tls.md .

[2017-06-26 19:37] aaronlevy commented on #611
@hongchaodeng  So why do we define both? We are generating this data - and only one is being used, why not just have a 'peer' key/cert? What is the point of both (I'm trying to understand the complexity here - because we'll need to explain it in docs.

[2017-06-26 20:02] hongchaodeng commented on #611
@aaronlevy
The definite answer is we don't need to define both. But to keep one, we can only keep `AssetPathSelfHostedEtcdMemberPeerKey`.

[2017-06-26 20:46] diegs commented on #611
Why only `AssetPathSelfHostedEtcdMemberPeerKey`? Do you want to drop support for non-hosted etcd + TLS?

Why not just use `AssetPathEtcdPeerKey` since it's shorter and can apply to both..?

[2017-06-26 20:49] aaronlevy commented on #611
So we could effectively reduce this set to:

[code]

[2017-06-26 21:26] hongchaodeng commented on #611
See https://github.com/kubernetes-incubator/bootkube/issues/611#issuecomment-311153186 .

[2017-06-26 21:29] hongchaodeng commented on #611
I think I haven't explained clearly enough.
So there are two options here:
1. have two separate paths for self-hosted and non-self-hosted, which is what we've done.
2. converge them. But they need to follow self-hosted path due to some naming constraint. Thus drop the non-self-hosted paths.

[2017-06-26 21:32] hongchaodeng commented on #611
Two things that can be changed:
1. var name like `AssetPathSelfHostedEtcdMemberPeerKey`.
2. cert dir, like `tls/whatever`.

[2017-06-26 21:35] dghubble commented on #611
@hongchaodeng I think that page you linked shows the files etcd-operator expects to find, which are mounted via Kubernetes secrets, so it constrains the field names used in the secrets and not the organization of `bootkube render` files

[2017-06-26 21:44] hongchaodeng commented on #611
@dghubble
That's right. The current `secretFromAssets()` func assumes the file basename to be the key. Would you like to refactor it and make this flexible?

[2017-06-26 21:48] aaronlevy commented on #611
This is kind of why I wanted https://github.com/coreos/etcd-operator/issues/552 -- this model where the podspec is hard-coded (including filepaths) makes integration with other tools really fragile.

[2017-06-26 21:49] dghubble commented on #611
I see. The bootkube `secretFromAssets()` behavior seems reasonable to me already then and approach was need to conform to the key names coded inside etcd-operator.

[2017-06-26 21:51] aaronlevy commented on #611
I might just prefer that all of this complexity be contained in etcd-operator specific utilities. This is essentially adding a bunch of new assets to work around hard-coded names. I'm thinking I'd rather that complexity end up in self-contained code, rather than implicitly in file structures.

[2017-06-26 22:42] hongchaodeng commented on #611
To sum up offline slack discussion, we will have only one set of assets:
[code]
means to unify both self-hosted and non-self-hosted paths.

[2017-06-27 14:04] sstarcher commented on #581
@hongchaodeng I took a deeper look at the code - https://github.com/coreos/etcd-operator/pull/1221

[2017-06-27 18:57] xiang90 commented on #611
All the static TLS related things are already pretty much self contained in etcd operator. etcd operator is not designed to be smart and try to understand how external users want to name or organize the key/cert. Instead, external users must follow the format defined in etcd operator. Also, I cannot see the benefits to make it flexible.

External tools, like bootkube, can do whatever they want int

[2017-06-27 19:31] aaronlevy commented on #611
Ultimately I agree with this. We have to conform to the upstream tool's requirements - and in this case that is hard-coded paths. It's just somewhat unfortunate / makes communicating how to properly create tls assets more complex (if static, do X - if self-hosted do Y).

I actually meant this as a change in bootkube itself. Rather than relying on render creating assets that directly match the expe

[2017-06-28 01:18] coresolve commented on #599
Further when you restart a node in this condition we aren't checkpointing the sh etcd cluster. So there is no way to get the cluster back in a reboot.

[2017-06-28 01:19] hongchaodeng commented on #599
ref: https://github.com/kubernetes/kubernetes/issues/47880

[2017-06-28 08:03] s-urbaniak commented on #611
@hongchaodeng It seems there is a consensus now on the TLS asset directory/file layout as outlined in https://github.com/kubernetes-incubator/bootkube/issues/611#issuecomment-311202308 which (I think) reflects the current setup used in Tectonic.

To make it more concrete can I assume the following cert usage patterns?

[code]

[2017-06-28 09:59] andrewwebber opened #613 "Alternative API Server ports require manual patching"
Considering the following command...
[code]

bootkube process does not set the secure port on the api server to be 1443. This can catch some user out as the kubelet never finds the api server and all other manifest containers get launched.

My main use case for launching the api server on an alternative port was to free up ingress containers to own port 80 and 443

[2017-06-28 16:14] hongchaodeng commented on #611
@s-urbaniak
Mostly true.
Operator will have its own asset of certs:
[code]

[2017-06-28 17:36] diegs commented on #613
Yes, this is a bug, fix is in #597 (but requires a Go version bump).

[2017-06-28 18:09] aaronlevy commented on #611
Just had an in-person conversation with @hongchaodeng & @xiang90 about this:

The plan is to make the expected tls assets in the etcd-operator TPR more closely match what is expected by etcd itself. An example of a mismatch currently is that etcd expects 2 sets of certs:

[code]

Whereas the etcd-operator TPR expects:

[code]

This could become confusing because the `client-crt.pem` actually shoul

[2017-06-28 18:26] hongchaodeng commented on #611
In etcd operator side, the naming is gonna be simplified and more aligned with official docs as put in https://github.com/coreos/etcd-operator/pull/1227/files .

The corresponding in secrets would become:
[code]

[2017-06-28 18:28] hongchaodeng commented on #611
We also need to write a formal doc for the certs assumption to run `bootkube start/recover`. Otherwise how could consumers of bootkube like @s-urbaniak mentioned above to know what to put into other render tool?

[2017-06-29 16:55] aaronlevy commented on #495
As a side-note, last I looked into this we don't actually need a sidecar or a flock for the checkpointing -- the `/runningpods` endpoint will still list the pod because the pause pod is still there (even if the actual apiserver container has died). This is how we can determine "intention".

It's been a while since I looked to make sure our code respects that -- but it should just be looking for th

[2017-06-29 18:02] diegs commented on #613
Fixed with #597

[2017-06-29 18:02] #613 closed

[2017-06-29 20:12] andrewwebber opened #617 "KeepAlived VIP custom container during bootstrap process"
After dropping a custom manifest into the bootstrap-manifests folder I was expecting the container to be launched even if the APIServer is not up. It appear to not honor my custom container. Is this because the bootstrap process can only handle pods?

This is important as I am trying to launch a KeepAlived container and have the APIServer ip address be a KeepAlived address. This would enable the k

[2017-06-29 20:18] diegs commented on #617
Correct, items in `bootstrap-manifests` must be pods, as they are run statically by the kubelet (that is how bootstrapping works).

If you want a container to run during bootstrapping, it must be a Pod. Note that this Pod will also be removed when bootkube exits.

If you want a deployment to be permanently added to the cluster once the apiserver is up, you can add it to the `manifests` directory.

[2017-06-29 20:55] andrewwebber commented on #617
@diegs thank you for the confirmation. I am now able to more forward successfully with the following amendment

[code]

[2017-06-29 20:55] #617 closed

[2017-06-29 21:39] aaronlevy commented on #612
Hmm, my initial thought is, no -- mostly because we won't allow using self-hosted etcd *without* tls from this point forward (I don't really see a case for allowing it).

So the recovery tool wouldn't be able to support clusters launched prior to tls being added -- which is unfortunate (but we're still in an alpha phase for both recovery, and self-hosted etcd).

[2017-06-30 23:39] aaronlevy opened #623 "recovery might not always need a kubeconfig"
For example, when we're recovering from an etcd backup, we could extract service account info (ca+signed bearer token), then generate our own kubeconfig using that data.

[2017-07-03 09:43] jamiehannaford opened #625 "Allow pod checkpointer to use different kubeconfig paths"
kubeadm doesn't save a standard `/etc/kubernetes/kubeconfig` file, but rather `/etc/kubernetes/admin.conf` and a series of specific component files. The problem is that the pod checkpointer expects the standard and already mounts `/etc/kubernetes` so you can't alias any of these files.

Also, will the checkpointer code ever live in its own repo?

[2017-07-03 19:24] diegs commented on #625
The future of the checkpointer (esp. in regards to its use in `kubeadm`) is still being hashed out. Some relevant issues to look at/follow:

- https://github.com/kubernetes/kubeadm/issues/131
- https://github.com/kubernetes/kubernetes/issues/489
- https://github.com/kubernetes-incubator/bootkube/issues/424

Until that's resolved you may want to use a custom fork of the checkpointer for kubeadm dev

[2017-07-05 17:23] hongchaodeng commented on #599
We are going to enable alpha annotation `TolerateUnreadyEndpointsAnnotation` in etcd service. Will submit a PR shortly.

[2017-07-05 21:43] #611 closed

[2017-07-05 23:36] aaronlevy commented on #625
Per the sig-cluster-lifecycle meeting today, it seemed like there might again be a window in which `kubeadm` uses the podcheckpointer (rather than waiting on internal kubelet support of checkpointing). Prior to this I was still thinking `kubeadm` wasn't going to move forward with this approach.

However, if `kubeadm` does adopt using the pod-checkpointer, I sort of lean toward moving it into its o

[2017-07-07 20:27] #599 closed

[2017-07-11 09:41] f0 opened #641 "Build failure ../go/src/github.com/kubernetes-incubator/bootkube/pkg/asset/tls.go:216: etcdServers[i].Hostname undefined (type *url.URL has no field or method Hostname)"
I got this failure with 0.5 and master

../go/src/github.com/kubernetes-incubator/bootkube/pkg/asset/tls.go:216: etcdServers[i].Hostname undefined (type *url.URL has no field or method Hostname)

[2017-07-12 00:28] aaronlevy commented on #641
@f0 what version of go are you using? We are only testing against go `v1.8.x`.

[2017-07-12 07:42] f0 commented on #641
@aaronlevy   works with 1.8, thx

[2017-07-12 07:42] #641 closed

[2017-07-12 19:33] hongchaodeng opened #646 "pod checkpointer should not store ports information for hostNetwork Pod"
On node restart, there will be two copies of pod: the actual pod and the checkpointed one. The checkpointed pod will start first. If then the scheduler detects host port conflict, it will set the scheduled pod failed in APIServer, potentially delete the pod and affect service endpoints.

This is an issue for etcd pod so far. But it applies in general to other kinds of pods. Pod checkpointer should

[2017-07-13 15:26] sstarcher opened #647 "latest tag bootkube - docs recommend latest for recovery"
Would it make sense to publish a tagged image of the latest release?  The bootkube docs recommend using the latest bootkube version regardless of what version the cluster was created under.

https://github.com/kubernetes-incubator/bootkube/blob/8b303d78e723d65ec17c55e269551b7e7028bb54/Documentation/disaster-recovery.md#bootkube-recover

[2017-07-13 18:40] ericchiang opened #648 "Enable kubelet authorization"
https://kubernetes.io/docs/admin/kubelet-authentication-authorization/

Kubelet authorization lets us identify which components in the system are allowed to talk to the kubelet API. This allows more fine grained access to the kubelet API beyond white listing client certs signed by a specific CA. It would, for instance, let prometheus talk to specific kubelet API paths with only its service account

[2017-07-13 20:20] dghubble opened #649 "Missing release tarball for bootkube v0.5.0"
https://github.com/kubernetes-incubator/bootkube/releases/tag/v0.5.0 doesn't have the usual tarball.

[2017-07-13 20:51] dghubble commented on #649
Thanks @aaronlevy !

[2017-07-13 20:51] #649 closed

[2017-07-16 16:44] klausenbusk commented on #612
Is recovery even working for self-hosted etcd with TLS?
`bootkube recover --recovery-dir=/home/core/recovered --etcd-backup-file=/home/core/etcdbackup --kubeconfig=/etc/kubernetes/kubeconfig` works and generate the assets, but `bootstrap-etcd` can't be started, for some reason (still debugging)...

[code]

[2017-07-16 20:53] klausenbusk commented on #601
This explain this bug:
[code]
I was recovering and `etcd-operator` was reported running, so I rerun the `bootkube start` and removed the `etcd-operator` manually and the recovery succeed.
[code]

[2017-07-16 20:56] klausenbusk commented on #612
This was caused by some old `bootstrap` containers, due to another bug*.
So:
[code]

\* `etcd-0000` can't start if `/var/etcd/` contain some old etcd data. So people also need to log into every master node and empty the `/var/etcd` dir..

[2017-07-16 22:11] xiang90 commented on #612
@klausenbusk

Both docker state, active manifest and etcd state need to be cleaned up. Kubelet needs to be restarted.

We should add a bootkube recovery cleanup or add cleanup process into the bootkube recovery sub-command.

If you have time, can you submit a PR to improve it?

[2017-07-17 19:26] aaronlevy opened #651 "Recovery: must have clean docker/container state on recovery machine"
Copied from: https://github.com/kubernetes-incubator/bootkube/issues/612

Both docker state, active manifest and etcd state need to be cleaned up. Kubelet needs to be restarted.

We could add a `bootkube recovery cleanup` subcommand, or maybe add cleanup process into the bootkube recovery directly?

[2017-07-17 19:26] aaronlevy commented on #612
opened https://github.com/kubernetes-incubator/bootkube/issues/651 to track the above

[2017-07-17 21:52] aaronlevy commented on #605
Closing based on https://github.com/kubernetes-incubator/bootkube/pull/639 - which disables test if calico is not running

[2017-07-17 21:52] #605 closed

[2017-07-17 21:55] aaronlevy commented on #646
Does the hostPort entry get added as part of defaulting logic (if hostNetwork) is set? Or did the pod start with the hostPort entry as part of the etcd pod manifest?

If it's the former, it's probably safe to strip the hostPort entry. But if a user explicitly sets the hostPort I'm not sure that's something we should be removing. And if the pod is successfully scheduled elsewhere, the checkpointer

[2017-07-17 21:59] aaronlevy commented on #647
@sstarcher we do publish images for all tagged releases: https://quay.io/repository/coreos/bootkube

And also have binary releases on the release page (I had forgotten for the last release initially, but the tarball should be there now).

[2017-07-17 22:02] aaronlevy commented on #590
I'm going to close this as specific issues pertaining to flaky tests should be opened / tracked through resolution (vs generic "tests are flaky" issue).

[2017-07-17 22:06] xiang90 commented on #590
@aaronlevy

tests taking too long is still an issue? and worth to track?

[2017-07-17 22:10] sstarcher commented on #647
But a latest tag is not published along with the tags.  So if a cluster is running and crashes and has a automated script that runs bootkube recovery it will likely use a hard tagged version such as `v0.5.0`, but your docs specify it is recommended to run whatever the latest tag is which is not an easy task with docker unless a `latest` or `stable` tag is published.

[2017-07-17 22:15] aaronlevy commented on #647
Hmm. I'm initially hesitant about the idea of automatically running bootkube recovery. Recovering from backup shouldn't be a situation that is common.

What types of scenarios do you envision triggering the recovery process & how do you determine that it is a "crashed" state? e.g. re-migrating an etcd cluster that might have had a temporary network partition is a pretty heavy-handed approach (pote

[2017-07-17 22:17] sstarcher commented on #647
@aaronlevy so the recommended approach is for an operator to lookup what the latest bootkube docker image is an pull that revision by hand?  I would prefer if the operator just ran a script instead of needing to go to an external source to look up the latest bootkube version.

Replace my statement about `automated` with just the idea that a human would run a predefined script.

[2017-07-17 22:19] aaronlevy commented on #590
Sure, updated title and re-opened.

[2017-07-17 22:29] aaronlevy commented on #647
I see your point. My hesitancy there is that "latest" tags are often problematic (each run could have different behavior).

While there is some additional friction to looking up the latest release tag - it's also something where that release might need to be vetted against your tooling (e.g. maybe a flag changed). For example, when a new version of bootkube is released, recovery process is tested,

[2017-07-18 00:19] sstarcher commented on #647
@aaronlevy I fully agree just the way the docs were written threw me off some.

[2017-07-18 20:53] diegs opened #656 "e2e: deflake etcd scale down tests"
TestEtcdScale scale down tests are unreliable. Our current theory is that this is due to apiserver implementation issues.

I will attach output from a failed test run here.

[2017-07-18 21:08] diegs commented on #656
cc: @hongchaodeng @xiang90

[2017-07-19 02:06] aaronlevy commented on #375
Added in https://github.com/kubernetes-incubator/bootkube/pull/620

[2017-07-19 02:06] #375 closed

[2017-07-19 23:46] hongchaodeng commented on #656
We have tried to scale down manually and reproduced this issue.

Here's what we found:
- APIServer 's connection to etcd is not cut after etcd is brutally SIGKILL-ed by kubelet
- APIServer's connection to etcd will hang around. There is some default kernel tcp timeout (http://man7.org/linux/man-pages/man7/tcp.7.html), which is 2h11m15s .
- This basically means APIServer's connection to etcd is zom

[2017-07-19 23:59] hongchaodeng commented on #656
Trying to reproduce by shutdown etcd.
Seen TIME_WAIT state when etcd is down:
[code]

[2017-07-20 00:32] diegs commented on #656
`TIME_WAIT` means the TCP connection was closed.

[2017-07-20 01:52] hongchaodeng commented on #656
I have reproduced it again using terraform.

This time when cluster stuck, I `docker exec` into etcd container and verify that locally it can talk. But etcdctl from that same machine talking to service IP doesn't work. So this might have something to do with service IP.

Need to verify etcd node's IP is accessible next.

[2017-07-20 19:34] hongchaodeng commented on #656
I have reproduced again.

This time I checked on three nodes and etcd service has 3 endpints:
[code]

In etcd, it also has 3 endpoints for `etcd-service` (protobuf):
[code]

I checked `netstat` on 3 nodes and they are all having `ESTABLISHED` connections to the only 1 etcd. The number of connections to `10.3.0.15:2379` is equal to the connections listening on `10.8.0.39:2379`. That means connectio

[2017-07-21 16:44] radhikapc opened #658 "Unable to recover Tectonic Cluster using Bootkube Recovery - etcd is not writable /Console not up"
Steps to reproduce:

A. **Simulating a failure scenario**
 Kill your control plane (in this case, etcd). On all master nodes, run:

         while true;
            do
               sudo pkill etcd
               sudo rm -rf /var/etcd/kube*
               sleep 2
            done

B. **Cleaning up**

1. Stop the kubelet service:

`$ sudo systemctl stop kubelet.service`

2. Remove the docker state

[2017-07-21 16:44] radhikapc commented on #658
@diegs @xiang90 @hongchaodeng

[2017-07-21 18:18] xiang90 commented on #658
@radhikapc can you also get the etcd log?

[2017-07-21 18:38] radhikapc commented on #658
Add the below step:

Back up `/var/log/containers` for later inspection.

(it was wiped out in the cleanup step, so could not investigate)

[2017-07-21 20:04] hongchaodeng commented on #658
If doing recovery, instead of deleting data,
[code]

just delete everything:
[code]

[2017-07-21 20:06] hongchaodeng commented on #658
I'm seeing errors when deleting kubelet pods' data:
[code]

[2017-07-21 21:52] hongchaodeng commented on #601
Actually this is not just about pods. Nodes info is also broken. All previous nodes are registered as ready. And there are more than one master nodes in recovery.

[2017-07-21 22:10] hongchaodeng commented on #658
Ref: https://github.com/kubernetes-incubator/bootkube/issues/601#issuecomment-317120988

I manually do `kubectl cordon` the nodes I don't expect to schedule `kube-etcd-0000`. Might also need to take a note in recovery docs.

[2017-07-24 16:11] robszumski commented on #651
In favor of adding it to the command itself, as we know you _need_ to do it.

[2017-07-24 16:23] aaronlevy commented on #651
I'm not super clear on the steps needed, but if we're blowing away a bunch of host paths, I'd probably prefer we wrap it in a shell script to be super transparent about what it is doing. Could be convinced otherwise - but an `rm -rf /var/etcd` (that I'm seeing discussed in related issues) scares me a bit.

[2017-07-24 17:09] strowi opened #660 "permission-problem rbac+psp"
Hi,

related to https://github.com/kubernetes/kubernetes.github.io/issues/4457#issuecomment-317485950
how is the controller-manager connection to the api-server? via secured port/rbac?

regards,
strowi

[2017-07-24 17:48] aaronlevy commented on #660
The controller-manager is being run as a pod, so it uses a service-account to connect to the api-server (via secured port). Unless configured differently, it is using the default service-account for the kube-system namespace (but it doesn't necessarily have to - you can change that in the manifest).

[2017-07-24 17:51] aaronlevy commented on #660
Per the upstream issue - I'm not immediately sure the needs of pod security policies (we don't have them enabled by default). However, this is something I'd like to support - so it might just be some additional digging on this feature specifically.

[2017-07-24 17:53] strowi commented on #660
so to enable rbac + psps it might suffice to add `- --use-service-account-credentials` to the kube-controller-manager.yaml to restrict service-accounts?
The main use for us would be to prevent the use of privileged containers/ hostPaths etc..
everything that could destroy a node / the control-pane...

[2017-07-24 17:59] aaronlevy commented on #660
We may also need to lock the KCM down further, however (just skimming https://github.com/kubernetes/kubernetes.github.io/pull/4423/files#r128599107)

[2017-07-24 22:08] dghubble opened #661 "Some kube-flannel pods fail to start"
Testing the new bootkube v0.6.0 release, some kube-flannel pods on workers start, others are wedged in ContainerCreating (waiting for >15 minutes post bringup). The release bumped flannel to v0.8.0-amd64, which may be relevant. I've seen this on several different bare-metal clusters now.

[code]

The apiserver is otherwise available during this time. Connecting to the host and restarting the `kube

[2017-07-25 00:17] dghubble commented on #661
Several more cluster bring-ups and I can't reproduce this. If anyone else stumbles across this, please re-open and comment. You may need to SSH to the host, use `docker logs ID` to get the logs of the flannel containers directly, and `systemctl restart kubelet`.

[2017-07-25 00:17] #661 closed

[2017-07-26 16:09] klausenbusk opened #662 "CNI: Include "portmap" plugin by default"
https://github.com/kubernetes-incubator/bootkube/pull/247 stated:

That doesn't seems to be the case [anymore](https://github.com/coreos/flannel/issues/772), at least not with new [enough CNI binaries](https://github.com/containernetworking/plugins/issues/43#issuecomment-315690123).

So I propose that you update the CNI binaries (when a new stable release is available) and enable the `portmap` plu

[2017-07-27 00:05] aaronlevy commented on #662
@klausenbusk the source of the flannel-cni image is: https://github.com/coreos/flannel-cni

[2017-07-27 00:05] aaronlevy commented on #662
/cc @abhinavdahiya

[2017-07-27 09:31] klausenbusk commented on #662
I just get a 404, is it private?

Den 27. jul. 2017 2.05 AM skrev Aaron Levy <notifications@github.com>:

@klausenbusk<https://github.com/klausenbusk> the source of the flannel-cni image is: https://github.com/coreos/flannel-cni

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes-incubator/bootkube/issues/662#issuecomm

[2017-07-27 17:08] aaronlevy commented on #662
@klausenbusk woops, should be public now.

[2017-07-27 17:45] radhikapc commented on #333
related to https://github.com/kubernetes-incubator/bootkube/issues/658

[2017-07-28 12:24] strowi commented on #660
Ok, so far i haven't had any luck adding `--use-service-account-credentials' , it seems other permissions are needed then..

[2017-07-28 18:41] joerocklin opened #664 "bootkube render with ecdsa keys fails"
I used cfssl to create a CA and certificates for etcd peers and a client - all unencrypted. When I ran `bootkube render` (using bootkube 0.6.0 and 0.5.1) pointing to these certificates and keys, I received this error:

[code]
I modified the cfssl config from
[code]

to
[code]
and the command ran to completion. I'm not really sure where to go to debug this issue further. Openssl was able to verify

[2017-08-01 13:09] rimusz opened #666 "support of etcd-operator v0.5.0"
when the new version of bookube with etcd-operator v0.5.0 is planned?

[2017-08-02 07:26] strowi opened #669 "Using own SSL-Certificates / Certificate-Exchange"
Hi,

since the default certificates created by bootkube are only valid 1y, i was trying to replace them with my own, but seem to fail somehow when authenticating during bootstrap.

Here is what i did:
- 10.243.0.0/16 is the service-cidr
- removed all *crt *pub files in the tls-folder

- create new `apiserver.crt`:
[code]

same thing for the `kubelet.crt`:
[code]

And then i did replace the bas64-e

[2017-08-02 18:42] ericchiang opened #670 "TLS bootstrapping improvements"
- [ ] Turn on kubelet authorization https://github.com/kubernetes-incubator/bootkube/issues/648. Because kubelets will run with the node authorizer, we don't want them to be able to access each other's APIs.
- [ ] Docs for running an external certificate signer.
- [ ] Switch to bootstrap tokens https://kubernetes.io/docs/admin/bootstrap-tokens/

[2017-08-03 08:17] strowi commented on #405
@mikebryant is that just a finding or a workaround?
I wasn't able to deploy a new cluster with just putting the weave-yml into the manifest-folder and changing the kubelets-volumes?

[2017-08-03 11:53] mikebryant commented on #405
weaveworks/weave#2613 is the upstream issue for weave support

What I posted above is how our weave + rkt/hyperkube setup is currently working, there's full manifests in the other issue, it's possible I missed something important out.

[2017-08-04 23:31] aaronlevy opened #673 "Upgrade instructions need to be updated"
The [upgrade instructions](https://github.com/kubernetes-incubator/bootkube/blob/master/Documentation/upgrading.md) are a bit dated at this point.

They still cover the self-hosted kubelet which is experimental, and basically unsupported at this point. As well as describes updating daemonsets before they supported rolling updates natively.

We should update the instructions to cover current state

[2017-08-07 16:11] rphillips commented on #502
Debian 9 (stretch) does contain the fixed flock functionality (util-linux 2.29.2). We could upgrade the BASEIMAGE from jessie to stretch, or perhaps use a sidecar container containing the upgraded version of util-linux. Thoughts?

[2017-08-07 16:46] diegs commented on #502
We have been trying to eliminate the flock for the apiserver, see #616

Might be easier to finish that rather than changing the upstream debian image and waiting for that to make it to a current release.

[2017-08-07 17:50] omkensey commented on #406
Honestly it's not even necessary to spin up matchbox to make bootkube work with bare metal.  If you just create `/var/coreos/metadata` on a preinstalled system, add `COREOS_PRIVATE_IPV4` and `COREOS_PUBLIC_IPV4` variable declarations, and then add a line to source that file at the top of `init-master.sh` and `init-node.sh`, everything should work fine.  Matchbox has value as part of a persistent i

[2017-08-07 18:38] aaronlevy commented on #405
I believe we started deploying CNI binaries via the daemonsets for flannel/calico in https://github.com/kubernetes-incubator/bootkube/pull/524 - so the original purpose of this issue I believe is satisfied (cc @abhinavdahiya)?

We could open a new issue to track support of weave if that's the remaining piece here.

[2017-08-11 11:55] rimusz commented on #666
ping @aaronlevy

[2017-08-11 17:57] aaronlevy commented on #666
@hongchaodeng @sym3tri

[2017-08-11 17:58] aaronlevy opened #679 "Bump kubernetes to v1.7.3"
cc @sym3tri

[2017-08-11 17:59] hongchaodeng commented on #666
@rimusz
Can you send a PR ?

[2017-08-11 18:03] rimusz commented on #666
heh, it is just such simple change, but I can of course :)

[2017-08-13 15:24] rmenn opened #680 "etcd-operator error on selfhosted etcd and calico"
When trying to bring a cluster up with the self-hosted etcd and calico bootkube fails as the etcd operator does not pivot, but the cluster seems to be running even after the failure

Bootkube version : `0.6.0`
Master launch command : `SELF_HOST_ETCD=true CALICO_NETWORK_POLICY=true ./init-master.sh <ip>`

Below are respective logs

Container in question
[code]

etcd-operator Logs
[code]

bootkube l

[2017-08-13 19:15] klausenbusk commented on #311
Proof of concept: https://github.com/kubernetes-incubator/bootkube/pull/684

[2017-08-13 21:02] klausenbusk commented on #666
There is already a open PR: https://github.com/kubernetes-incubator/bootkube/pull/668

[2017-08-14 01:16] klausenbusk commented on #669
`bootkube render` has a [`--ca-certificate-path`](https://github.com/kubernetes-incubator/bootkube/pull/42) switch, so I think (but I'm not sure at all) that you can just run:
[code]
I'm also looking into this, as the certificates is gonna expire at some point and I need to create some doc.

[2017-08-14 12:19] strowi commented on #669
thx, this is a good start. in addition the ca.crt needs to be copied to /etc/kubernetes/ca.crt.
But that should be  all i guess.
Not sure though, if/how the secrets are automatically being re-read

[2017-08-14 13:24] sym3tri commented on #679
@aaronlevy please assign to @squat

[2017-08-14 14:03] klausenbusk commented on #666
I just took a stab on this, but I need a bit of help.

Firstly I can't figure out how to bump vendor etcd-operator to v0.5.0, the instructions in [RELEASING.md](./RELEASING.md) isn't working:
[code]
Playing around with `glide` it change a lot of files, which seems unrelated to `etcd-operator`, I'm really not sure about what to do.

Secondly, I'm not sure if this is correct: https://github.com/kube

[2017-08-14 17:23] hongchaodeng commented on #666
@klausenbusk
The rest path of CRD api is:
[code]

CRD api types could be found in:
https://github.com/kubernetes/apiextensions-apiserver

[2017-08-14 20:20] klausenbusk commented on #666
@hongchaodeng Ready for review, if you have some time: https://github.com/kubernetes-incubator/bootkube/pull/686

I have tested with `hack/quickstart/init-master.sh` and `bootkube recover` and it seems to work without any issues.

[2017-08-16 17:40] luxas commented on #519
cc @davidopp @bsalamat @timothysc

[2017-08-16 18:12] bsalamat commented on #519
When a critical pod cannot be scheduled, rescheduler tries to find a node for it and removes enough pods from the node to allow scheduling of the critical pod, but once it does so, it [adds the pod to a list of processed pods](https://github.com/kubernetes/contrib/blob/master/rescheduler/rescheduler.go#L174). Once the pod is added to the list, rescheduler will not remove more workloads from other

[2017-08-16 18:30] bsalamat commented on #519
Actually, when I looked at the code again, I noticed that if the `processed pod` is not scheduled within a certain amount of time, it is removed from the processed list and, therefore, is processed again, which means that more pods may be removed to let it schedule. So, the scenario described in the issue can happen and is dangerous.
As explained above, the priority and preemption work will allow

[2017-08-16 22:56] aaronlevy commented on #474
It is not safe to run the rescheduler when we have the "critical pod" annotation added to the self-hosted scheduler and controller-manager. See discussion in https://github.com/kubernetes-incubator/bootkube/issues/519

[2017-08-16 22:57] aaronlevy opened #689 "Remove "critical pod" annotations from scheduler and controller-manager"
It is not safe to run the rescheduler when we have the "critical pod" annotation added to the self-hosted scheduler and controller-manager. See discussion in https://github.com/kubernetes-incubator/bootkube/issues/519

This should be done both in the installer and as part of an update payload

[2017-08-16 22:57] aaronlevy commented on #474
This should be blocked until https://github.com/kubernetes-incubator/bootkube/issues/689 is resolved

[2017-08-16 23:02] aaronlevy commented on #689
woops duplicate (wrong repo)

[2017-08-16 23:02] #689 closed

[2017-08-17 00:08] squat commented on #679
Closed by #688

[2017-08-17 00:08] #679 closed

[2017-08-19 16:56] klausenbusk commented on #662
CNI [v0.6.0](https://github.com/containernetworking/cni/releases/tag/v0.6.0) is out, so we just need a new flannel-cni release with v0.6.0 ([PR](https://github.com/coreos/flannel-cni/pull/3)), bumping bootkube to the new version, changing the `template` (?) and some testing.

[2017-08-20 21:01] klausenbusk commented on #662
PR opened: https://github.com/coreos/flannel-cni/pull/5

[2017-08-21 11:01] knutster opened #690 "Latest bootkube release (0.6.1) is missing a binary release package."

[2017-08-21 20:23] squat commented on #690
@knutster thanks for the notification! Just uploaded the tarball.

[2017-08-21 20:23] #690 closed

[2017-08-22 07:37] knutster commented on #690
np!

[2017-08-22 20:07] #625 closed

[2017-08-25 20:05] rmenn commented on #680
this is no longer an issue, closing

[2017-08-25 20:05] #680 closed

[2017-08-25 21:12] aaronlevy commented on #666
fixed in https://github.com/kubernetes-incubator/bootkube/pull/686

[2017-08-25 21:12] #666 closed

[2017-08-26 01:06] brianredbeard opened #696 "x.509 assets need unique Subjects"
Currently x.509 assets are being generated in a way which makes them not useful for cluster identification.

x.509 Certificates validate the subject of the certificate authority as well as the subject of the leaf certificate.    In the case of conflicting distinguished names, [RFC 5280§4.1.2.8][rfc5280] defines a mechanism for distinguishing these names through the use of a `Unique Identifiers` fi

[2017-08-30 21:34] dghubble opened #698 "Calico network policy daemonset cannot be removed"
Found a reproducible way to cause what I experienced in https://github.com/kubernetes-incubator/bootkube/pull/694#issuecomment-325754554

We're not deploying Calico Network Policy in a way where it can be removed cleanly. It drops its own CNI configs on hosts which actually seem to take precedence over the flannel CNI config. Removing the calico daemonset after this point causes new pods to fail t

[2017-08-31 01:20] weikinhuang opened #699 "Worker nodes with taints are never ready"
I'm trying to add nodes with pre-registered taints via the kubelet flag `--register-with-taints=foo=bar:NoSchedule`. However the node is never ready because certain pods like `kube-flannel` and `kube-proxy` will never be scheduled there even though they should be running on every node.

According to the documentation on taints https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2017-08-31 12:35] squeed commented on #698
Some more random thoughts, oh boy:

* The kubelet CNI-network-selection is racy and frustrating, but it's hard to see how to fix it and keep backwards compat
* Because kubelet is constantly re-scanning for networks, we get ourselves in a strange situation where a pod can be created with network A and deleted with network B
* Therefore, It is essentially impossible to roll out calico network policy

[2017-08-31 12:52] s-urbaniak opened #700 "Restartability of bootkube"
This is mostly a question, @lucab and me have been wondering about. Currently, bootkube i.e. in Tectonic is used as one-shot service, see https://github.com/coreos/tectonic-installer/blob/25f4c76/modules/bootkube/resources/bootkube.service.

We were wondering if we could add any restart policy to the bootkube service, and here comes the question: Is bootkube designed/functional to cope with the si

[2017-08-31 18:16] dghubble commented on #698
I agree, this seems dangerous - I'm worried about rolling this out on my clusters as well. But I don't get the "running cluster" distinction. If calico network policy can't safely be kubectl added to a running cluster, its not really safe for bootkube to have it in its initial manifests either, since there's not a clear line between bootstrapping and regular stages. I still think its useful to sho

[2017-08-31 23:28] aaronlevy commented on #700
It should hypothetically be safe to re-run bootkube (or re-run an interrupted execution) - as all it is really doing is injecting files into the cluster and waiting for them to exist.

If they already exist (e.g. re-running after interruption), it should ignore: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/bootkube/create.go#L121-L124

Or in some cases, creation of an object mi

[2017-09-01 10:20] squeed commented on #698
I was a bit careless in my definition of "running cluster." In reality, it means "a cluster with pods using an existing CNI configuration." So it would be safe to deploy Calico to a fresh cluster as the *first* CNI plugin. However, Calico's need to be the controlling CNI plugin makes it very hard to deploy - you can't deploy it on a worker that already has active pods with connectivity through Fla

[2017-09-06 23:29] dhawal55 commented on #483
I've upgraded to latest bootkube (v0.6.1) and kubernetes (v1.7.5) and still have this issue.

First, the `system:node` clusterrolebinding is incorrect when running temporary control plane:
[code]
Note that the `subjects` is empty. Ideally, `subjects` should like as follows:
[code]

However, even after updating subjects to include `system:nodes` group, I'm still getting 403 errors. Here's bootkube

[2017-09-06 23:41] ericchiang commented on #483
Booting a bootkube cluster that's not what I see:

[code]

@dhawal55 system:node not being automatically granted all powers is actually expected in 1.8:

https://github.com/kubernetes/kubernetes/pull/49638
https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/1OIjHX-A3sI

But it isn't expected in 1.7

[2017-09-07 11:45] klausenbusk commented on #699
I have also experienced this, but I ended up just adding a taint for `bar`, but a tolerate to `tolerate all taints` is defiantly more effective.

I will create a PR shortly.

[2017-09-07 17:53] dhawal55 commented on #483
Ah, I had node authorization mode enabled and missed the following note:
[code]

[2017-09-07 19:20] dhawal55 commented on #483
I think I found my problem. I was using the same kubeconfig (and same cert) for kubelet and temporary control plane componenets (CM, scheduler). So when I change the cert to use the `system:nodes` group, the temporary CM starts using the same group and doesn't have sufficient privileges to do its job. I need separate cert for temp control plane components.

[2017-09-07 19:20] #483 closed

[2017-09-08 22:48] #696 closed

[2017-09-12 15:03] klausenbusk commented on #699
PR opened: https://github.com/kubernetes-incubator/bootkube/pull/704

[2017-09-12 15:43] weikinhuang commented on #699
Thanks!

[2017-09-13 17:13] sstarcher opened #710 "bootkube restores fails with self-hosted etcd with backup pods"
I was redirect to open this here from https://github.com/coreos/etcd-operator/issues/1399

Using bootkube restore when having an etcd backup pod configured the restore fails.  After removing the etcd backup from the cluster configuration and doing the bootkube recover/start it works.

[code]

Looks to be a race condition with the metadata of the previous pod still existing and not being cleaned up

[2017-09-14 17:13] sstarcher commented on #698
After updating to the lastest(v0.6.2) bootkube I believe this is causing me an issue with recovering a full self-hosted etcd control plane.  I was able to recover using 0.5.1 with the older calico setup.

* kubelet
[code]

* kubectl get pods -n kube-system   | grep -v Running
[code]

* bootkube
[code]

[2017-09-14 17:37] dghubble commented on #698
Perhaps, its hard to be certain since recovery and bootstrap are complex in their own right. The "KillPodSandbox" error certainly looks familiar from when I was debugging this. If you need to recover the cluster, can you try removing `/etc/kubernetes/cni/net.d/10-calico.conf` from every host, trying the recovery tool, and the moment you have a functioning apiserver (before recovery completes) usin

[2017-09-14 18:10] sstarcher commented on #698
@dghubble Using the same setup I disabled the calico setup and I was just able to restore successfully.  I'll rebuild with calico and try killing that file.

Just to make sure I have the steps in the right order.
* on all nodes rm /etc/kubernetes/cni/net.d/10-calico.conf
* bootkube recover
* bootkube start
* once api server is responding you want me to kubectl delete daemonset for calico?

[2017-09-14 18:19] dghubble commented on #698
Well assuming your intention is removing Calico network policy, yes, because the Daemonset recreates the 10-calico.conf file. Re-reading, I don't know that you actually said that, I assumed based on this issue. If normal recovery is failing though and pods that uses non-host networking can't be scheduled, I agree this likely stems from both flannel and calico being in place and a possible mitigati

[2017-09-14 18:20] sstarcher commented on #698
Yes, I'm not interesting in removing calico.  I'm interesting in a mechanism that would allow me to restore the cluster.

[2017-09-17 18:30] bzub opened #712 "Add option to specify etcd prefix for kube-apiserver"
Add an `--etcd-prefix` flag to bootkube render that generates the same flag in the kube-apiserver.yaml manifest. If it's not specified then the current behavior is not changed.

My use-case is to speed up and simplify provisioning short-lived bootkube clusters for CI purposes as well as shared etcd instances for low-usage long-lived clusters.

If this sounds good I can submit a PR for it. Thanks!

[2017-09-19 18:02] #662 closed

[2017-09-20 09:41] klausenbusk opened #715 "Recover: Mark all nodes as NotReady before adding pod"
Hello

I sadly needed to play a bit around with `bootkube recover` (like [this](https://github.com/kubernetes-incubator/bootkube/blob/81245473eb9a2d44da81cbefb8c1456fd62367ed/hack/multi-node/bootkube-test-recovery-self-hosted-etcd)) last night, and I experienced that `kube-scheduler` (or `bootstrap-kube-scheduler`), would schedule pod to nodes which is down (due to the fact, that the etcdbackup wa

[2017-09-20 09:43] klausenbusk commented on #112
Thanks! This prevented me from restarting the whole cluster (again) with `bootkube recover` and `bootkube start`.

Someone should properly add this to: https://github.com/kubernetes-incubator/bootkube/blob/master/Documentation/disaster-recovery.md

[2017-09-20 10:13] klausenbusk commented on #601
One option would be setting `--node-monitor-period` , `--node-monitor-grace-period` and `--pod-eviction-timeout`  for `bootstrap-kube-controller-manager` to a crazy low value, but that is a bit hackish.

Any input?

[2017-09-26 20:46] dghubble commented on #405
Yes, both flannel (possibly with policy-only calico) and calico (added by #714) use an `install-cni` sidecar to drop CNI plugins at `/opt/cni/bin` on the host, which the kubelet mounts. In fact, we now rely on this behavior since the default flannel config uses `portmap`, which is only installed on the host (rather than being in the hyperkube).

I think the original issue has been addressed. Addin

[2017-09-26 20:46] #405 closed

[2017-09-27 18:02] aaronlevy commented on #712
Hi @bzub - unfortunately we wouldn't want to add that as a new configuration flag to `bootkube render`. The reasoning for these kinds of decisions is discussed in the [design principles doc](https://github.com/kubernetes-incubator/bootkube/blob/master/Documentation/design-principles.md). If we were to add these types of customizations, we eventually would just have all the flags for every kubernet

[2017-09-29 14:19] andrewwebber opened #724 "Calico upgrade from Kubernetes 1.7 to 1.8 - fails to start due to TPR"
Upgraded a cluster creates using bootkube 0.6.1 using the flag **--experimental-calico-network-policy**

After following the [upgrade documentation](https://github.com/projectcalico/calico/tree/master/upgrade/v2.5) Calico still fails to start.

[code]

[2017-09-29 14:54] rmenn commented on #724
I just did this today, so currently the render produces calico with 2.4 which uses TPR, you will need the calico 2.5, which moved to CRD its available in #694 to get it to work. TPR was deprecated in 1.8.

[2017-09-29 17:42] dghubble commented on #724
Perhaps of interest:

* Refreshed bootkube [upgrade guide](#720) - Mentions preparing the diff between assets produced by bootkube at the original version and target version (yes, there is no release with 1.8 yet). In your case, the diff between 0.6.1 and latest has the TPR -> CRD change you can attempt to apply.
* Next bootkube release will move `--experimental-calico-network-policy` to `--networ

[2017-09-29 20:53] dghubble commented on #724
Thanks for fixing the link @aaronlevy

[2017-09-29 22:50] #673 closed

[2017-10-02 19:00] #407 closed

[2017-10-04 17:25] dghubble commented on #724
Did this help with your issue? bootkube itself has switched to using CRDs and works properly. I don't know that there is an issue to be solved in this repo since upstream has documented the way to attempt an in-place migration.

[2017-10-06 23:06] coresolve commented on #700
we'd be ok on the reboot case cause we touch and test on a done file when the unit succeeds.

[2017-10-09 10:42] amarruedo opened #732 "Controller manager fails to start when configured with vsphere cloud provider"
Bootkube version: v0.7.0

When configuring kube-controller-manager manifest to work with vsphere cloud provider, it crashes with following error:

[code]
Workaround: configuring controller container to run privileged solves the issue:

[code]

[2017-10-12 19:41] dghubble commented on #732
bootkube is known to work with the "aws" and "azure" cloud-provider integrations and with no cloud provider (i.e. ""). Looks like the "vsphere" integration requires read access to:

[code]

A quick google of their docs shows this is only accessed as the fallback VM identifier so perhaps it would be better to provide one of the identifiers rather than granting elevated privilege to the controller m

[2017-10-13 09:30] amarruedo commented on #732
@dghubble sure, I'm out of the office right now, I'll try that next monday. Thanks for the tip!

[2017-10-13 21:50] dghubble opened #735 "Deprecate experimental self-hosted Kubelet"
Originally, the experimental self-hosted kubelet feature (`--experimental-self-hosted-kubelet`) was an idea to run an on-host kubelet for bootstrapping and pivot to a scheduled, self-hosted kubelet daemonset. Today, the self-hosted Kubelet feature is not tested, not recommended, and not heavily used (or used at all?) in any [higher level projects](https://github.com/kubernetes-incubator/bootkube/b

[2017-10-13 22:58] thorfour opened #736 "TLS Cert deprecation warning"
`I1013 22:56:12.213179       5 logs.go:41] warning: ignoring ServerName for user-provided CA for backwards compatibility is deprecated`

[2017-10-17 08:37] amarruedo commented on #732
I can confirm that using `vm-name` parameter on the `vsphere.conf` file solves the issue (my bad I didn't recheck vsphere guide, it has changed from last time I used it) and is the correct approach.

Thanks for your time.

[2017-10-17 08:37] #732 closed

[2017-10-17 21:41] colemickens commented on #463
@aaronlevy Any ideas why that code upstream doesn't just check the value of `configure-cloud-routes` instead of inferring based on off the cloudprovider's support of the `Routes` interface?

[2017-10-17 22:32] aaronlevy commented on #463
@colemickens I don't think there is any canonical place to check the value of `configure-cloud-routes`. In case of bootkube it's a self-hosted cluster so I guess you could hypothetically read the flags of the controller-manager. But there's no API (to my knowledge) for "how is this component configured", and the controller-manager could be running as a binary on a random host.

[2017-10-18 07:10] enxebre commented on #463
@aaronlevy @colemickens
At the moment because of https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_network.go#L85
The following problematic scenario happens when running the Kubelet with --cloud-provider=gce:
The node always set NetworkUnavailable property to true.
This flag is only cleared by the cloud-provider route controller which is run when the flag --configure-cloud-r

[2017-10-18 17:14] dghubble opened #738 "Clarify status of bootkube experimental self-hosted etcd"
I'd like to track the status of `--experimental-self-hosted-etcd` to address some recurring questions.

bootkube self-hosted etcd (as in, self-hosted the cluster's etcd on the cluster itself) is a challenging balancing act to get right. Its not been done before. There are complex interaction edge cases for keeping self-hosted etcd working.

A while back, bootkube experimental self-hosted etcd effo

[2017-10-18 17:39] aaronlevy commented on #738
cc @xiang90 @hongchaodeng

[2017-10-18 17:48] xiang90 commented on #738
This is not true. The major problem is not self hosted etcd itself, but etcd HA setup for Kubernetes in general. It is challenging for self hosted etcd, since users would expect etcd/apiserver to recover from failures automatically (which requires manual restarts of api server/etcd right now in non-self-hosted mode)

The failing test simply shows that the API server fails to reconnect to etcd afte

[2017-10-18 17:49] xiang90 commented on #738
I agree with the rest of the suggestions.

[2017-10-18 18:04] dghubble commented on #738
I've tried to draw the distinction between general self-hosted etcd work (which is progressing towards stability) and bootkube's self-hosted etcd feature, which is the harder challenge of self-hosted etcd running on Kubernetes and also being the etcd cluster for the cluster and interacting well (which has complexities related to Kubernetes itself, I'm not blaming etcd). That's what's being discuss

[2017-10-18 18:07] xiang90 commented on #738
What I am saying is that the work being done on Kubernetes helps both self hosted and non-self hosted. And that work currently blocks the progress of self hosted more for the reason I just said. Once things get unblocked, most of the issues we see here (in bootkube tests) will resolve itself, and requires almost no action. But, yes, we are not actively changing anything in bootkube for self hosted

[2017-10-18 18:13] dghubble commented on #738
Interest in looking into the flakes we're seeing on the self-hosted etcd setup?

[2017-10-18 18:39] dghubble commented on #724
Calico should be working as expected on v1.8.1. If you encounter issues in a fresh setup, can you open an issue?

[2017-10-18 18:39] #724 closed

[2017-10-18 18:43] dghubble commented on #647
Suggestion:  Tweak docs to say "For best results, use the latest tagged bootkube [release](https://github.com/kubernetes-incubator/bootkube/releases)" and link to releases. Avoid publishing any image tagged "latest".

[2017-10-18 18:44] dghubble commented on #612
I'd think this is a non-goal. Do we want to allow bootkube clusters with non-TLS etcd setups to begin with?

[2017-10-18 20:27] aaronlevy commented on #495
Looks like etcd health has been added to the apiserver healthcheck: https://github.com/kubernetes/kubernetes/pull/49412 -- that makes re-enabling this even more useful.

There have been reports that when replacing an etcd node the apiserver doesn't actually try and re-establish a connection. I haven't validated this - but this type of check would mitigate that (would restart the apiserver if healt

[2017-10-18 20:41] andrewwebber commented on #724
@dghubble this did not work for me.

However my upgrade tests worked with 1.8.1 using --network-provider=flannel.

[2017-10-18 22:17] aaronlevy commented on #463
For GCE you don't really need a network overlay - GCE networking supports the model that kubernetes expects - so it's probably most ideal to use `--configure-cloud-routes=true` and `--network-plugin=kubenet`.

But agree - this could be better handled upstream.

[2017-10-19 20:41] weikinhuang opened #740 "socat locks up when attempting port-forwarding"
Deployed single node `bootkube@v0.8.0` on `CoreOS@1548.2.0` & kubelet-wrapper systemd using `--network-provider=experimental-calico`.

When trying to use `helm/tiller` or `kubectl port-forward` `socat` locks up the system with 100% cpu usage when using the kubelet image `quay.io/coreos/hyperkube@v1.8.0_coreos.0` or `quay.io/coreos/hyperkube@v1.8.1_coreos.0`. However if i downgrade just the kubelet

[2017-10-19 22:07] dghubble commented on #740
I deployed v1.8.1 clusters (with Calico and CL 1520.6.0) on AWS, GCE, and bare-metal. Checking `kubectl port-forward some-kubernetes-dashboard-pod -n kube-system 9090` works as usual for me on AWS and bare-metal.

I do see port-forward connections hang on GCE, but I'm investigating some other issues there which are probably the root problem. I think CPU spikes are a red herring, I can't reproduce

[2017-10-19 22:32] weikinhuang commented on #740
I don't think so, I was running htop, showed i had a bunch of resources free, socat took up 1 full core at 100% out of 4, and still had 2gb of ram left. I even rebuilt and redeployed a new vm (running on vmware) completely and it still happened. However on another cluster of 5 vms it's not showing the issue.

[2017-10-19 23:46] dghubble commented on #736
Are you working on a fix?

[2017-10-19 23:55] weikinhuang commented on #740
There's no logs for the kubelet `journalctl -f kubelet.service`

When I run, it looks like it's connecting, but nothing actually happens.
[code]

However on the server side:

![image](https://user-images.githubusercontent.com/794658/31799324-6a1c6e06-b507-11e7-861f-5e73dbb77864.png)

and even after i kill the port-forward command, socat is still running on the kubelet.

[2017-10-20 00:39] weikinhuang commented on #740
I just added a second node to that cluster, and it's still broken.

[2017-10-20 00:39] dghubble commented on #740
What platform are you on? What distro are you on? Container Linux doesn't ship `/usr/bin/socat` or `htop`. Also, your `journalctl` command requires a `-u` for unit. Kinda missing some context here. We may be talking about different issues.

[2017-10-20 00:43] weikinhuang commented on #740
Yes, that was a mistype, I did run `journalctl -f -u kubelet.service` I see the usual logs about container health but nothing about networking or other issues.

Distro info:
[code]

The socat is within the kubelet container.

This is how i'm running the kubelet:

[code]

[2017-10-20 01:09] weikinhuang commented on #740
For a more concrete example: After deploying bootkube cluster and running `helm init`

On the node itself:

[code]

in another tab:

[code]

![image](https://user-images.githubusercontent.com/794658/31800845-ca1e6c96-b511-11e7-96b1-4cb6ef935dc7.png)

[2017-10-20 09:24] dghubble commented on #736
Looks like this is just a bump. https://github.com/coreos/etcd/issues/7647

[2017-10-20 10:50] janwillies commented on #738
@xiang90 thanks for the background infos, much appreciated. Do you have a link to the upstream discussion?

[2017-10-20 18:28] dghubble commented on #740
I can't produce the CPU spike issue and port-forward is ok on my AWS, bare-metal, and Digital Ocean test clusters. Can you try using the upstream hyperkube `gcr.io/google_containers/hyperkube:v1.8.1`? Starting in v1.8, bootkube should now be able to use either just fine, the quay.io/coreos/hyperkube patches are only relevant for Tectonic.

Another shot in the dark, I see socat has a vaguely recent

[2017-10-20 19:05] weikinhuang commented on #740
Can't seem to start the `gcr.io/google_containers/hyperkube:v1.8.1` image via kubelet-wrapper

[code]

[2017-10-20 19:33] dghubble commented on #740
Oh, you have to use `docker://gcr.io/google_containers/hyperkube:v1.8.1` and set the rkt argument `--insecure-options=image` https://coreos.com/rkt/docs/latest/running-docker-images.html

[2017-10-20 19:42] weikinhuang commented on #740
I figured it out! looks like inside the rkt pod for kubelet it can't resolve `localhost`. Your suggestion about FQDN was the correct answer.

Looks like kubelet wrapper is broken for me when running the hyperkube image as the kubelet image.

When running the hyperkube images with docker
[code]

Running the image with kubelet-wrapper

[code]

However when running with the `quay.io/coreos/hyperkube:

[2017-10-20 19:49] weikinhuang commented on #740
Should I open an issue somewhere else? Or should I now mount `/etc/hosts` in the rkt options?

[2017-10-20 20:38] dghubble commented on #740
cc @euank

[2017-10-20 20:56] euank commented on #740
@weikinhuang

I suspect the root cause of that hosts file difference is this kubernetes change: https://github.com/kubernetes/kubernetes/pull/48535

Rather than bindmounting through `/etc/hosts`, the rkt option `--hosts-entry=host` should copy over the hosts entry you have in `/etc/hosts`.

We'd be happy to take a PR against the kubelet-wrapper in the [coreos-overlay](https://github.com/coreos/cor

[2017-10-20 21:02] weikinhuang commented on #740
yep, I'll see if I can make a PR to coreos-overlay when I have a moment.

[2017-10-20 21:24] weikinhuang commented on #740
Can confirm adding `--hosts-entry=host` fixes the issue

[2017-10-20 21:24] #740 closed

[2017-10-20 21:25] weikinhuang commented on #740
Will open a PR on coreos-overlay

[2017-10-20 23:33] dghubble commented on #740
This actually does have some bearing on the port-forward GCE issue I was describing. I never found any CPU spikes, but rkt entering the kubelet-wrapper kubelet does show the `/etc/hosts` file is empty.

This does not cause a port-forward problem on AWS, DO, and bare-metal (at least on my networks) because the upstream network DNS resolves localhost queries to 127.0.0.1 for the kubelet despite the

[2017-10-20 23:37] dghubble opened #741 "kube-proxy expects to load kernel modules in v1.8.x"
[code]

Mostly benign for now, but should be fixed. The image contains `sbin/modprobe` (which can't be found?) and we do not currently load `/lib/modules` in kube-proxy.

[2017-10-20 23:40] weikinhuang commented on #740
Yes, that's also why it didn't break my other cluster, because `localhost` is defined on my internal network's dns server

[2017-10-22 02:32] dghubble commented on #724
As in, a fresh v1.8.1 cluster (bootkube v0.8.0) did not work for you or trying to migrate in-place?

[2017-10-23 18:13] rphillips commented on #741
This will be fixed in the next 1.8 release (https://github.com/kubernetes/kubernetes/pull/54325)

[2017-10-23 18:15] dghubble commented on #741
We also need to be sure to mount `/lib/modules` like we do for Calico and a few others that run their own modprobes. Lemme send a patch.

[2017-10-23 20:15] dghubble opened #744 "Switch to upstream gcr.io hyperkube image"
We no longer have a concrete need to use `quay.io/coreos/hyperkube:v1.8.x_coreos.y` over `gcr.io/google_containers/hyperkube:v1.8.x` starting with Kubernetes 1.8. The patches in the quay image are used for the Tectonic setup.

Perhaps we consider switching bootkube to the upstream images?

Pros:
* Faster turn around time to bump images when upstream releases them
* Possibly faster downloads for so

[2017-10-24 09:05] jamiehannaford commented on #738
@dghubble @xiang90 What are some of the edge cases that prevent the etcd-operator being used to manage the cluster etcd? Does this mean the operator is not recommended for cluster etcd, or that you're cautious about the effect it has on SLAs etc?

[2017-10-24 19:57] aaronlevy commented on #744
I'm fine with this. We've since moved off in-hyperkube CNI binaries and that was the last thing that was being patched.

[2017-10-24 21:38] dghubble commented on #738
In practice, I've had a Kubernetes cluster using self-hosted etcd fail hit:

* https://github.com/coreos/etcd-operator/issues/731
* https://github.com/kubernetes/kubernetes/issues/40973
* https://github.com/poseidon/typhoon/issues/13#issuecomment-332733810

[2017-10-25 00:14] diegs opened #748 "Consider re-enabling self-hosted etcd tests"
The self-hosted etcd tests are too flaky to provide valuable signals during PRs, self-hosted etcd support is not being actively developed, and it is currently marked as experimental. As a result the self-etcd PR tests have been disabled.

Opening this bug to track this fact, and consider re-enabling them in the future if self-hosted etcd is actively worked on again.

cc @aaronlevy

[2017-10-25 00:19] aaronlevy commented on #738
ref: https://github.com/kubernetes-incubator/bootkube/issues/748

[2017-10-25 12:04] alexef opened #749 "Bootkube start stuck at "created pod-checkpointer daemonset""
I'm running bootkube 0.8.0 on Core OS in aws.

The bootstrap is stuck at:
[code]

The kubelet logs contain:
[code]

[2017-10-25 13:10] alexef commented on #749
And after a while:
[code]

[2017-10-25 20:47] dghubble commented on #519
This is confusing. https://github.com/kubernetes-incubator/bootkube/pull/728#issuecomment-334240416 states the annotations are only for the rescheduler. https://github.com/kubernetes-incubator/bootkube/issues/474#issuecomment-322922093 states the annotations aren't safe if we *do* run the rescheduler. Upstream salt templates still include the critical-pod annotation, Tectonic does not. @diegs @aar

[2017-10-25 20:53] dghubble commented on #749
Hm, no logs at all after `[  149.485497] bootkube[5]: 	created        pod-checkpointer daemonset`? Just a delay and then `Tearing down temporary bootstrap control plane...` 10-20 minutes later?

Don't worry about those CNI and network not ready issues you see in the kubelet, that's normal before bootstrapping has completed. If you go through it again, can you run `kubectl get pods --all-namespaces

[2017-10-25 20:57] dghubble commented on #712
I agree customizing the apiserver `--etcd-prefix` flag shouldn't be in the scope of bootkube render / start. Its a custom modification (sed, custom tools, etc.) I'll close soon unless there is something to be considered.

[2017-10-25 20:57] diegs commented on #474
This is obsolete. The rescheduler is deprecated in favor of priorities.

[2017-10-25 20:57] #474 closed

[2017-10-25 20:58] diegs commented on #519
I just closed #474. We should merge #728. Upstream is out of date by the sounds of it. The rescheduler is deprecated in favor of priorities.

[2017-10-25 21:13] dghubble commented on #736
Actually, I still see this in apiserver logs, even on clusters where the etcd cluster is v3.2.0.

[2017-10-26 07:41] alexef commented on #749
Yes, no logs at all between 149 and 1349, 20 minutes after.

I'm running the process again, thank you for the hints.

[2017-10-26 07:49] alexef commented on #749
So I get:
[code]

and then

[code]

[2017-10-26 08:10] alexef commented on #749
Yes, that was it. Setting the tag "KubernetesCluste=mycluster" on the EC2 node fixed the issue.

Can you please close the issue? Or should maybe this documentation be updated to mention the tag? https://github.com/kubernetes-incubator/bootkube/tree/master/hack/quickstart

[2017-10-26 08:12] dghubble commented on #749
I suspect if you left off the cloud-provider when rendering manifests your
cluster would bootstrap, but just not have the AWS-specific integrations.
Usually with cloud-provider choices there are platform specific
assumptions. I don't recall AWS having a tag requirement but I guess it
does now :S

On Thu, Oct 26, 2017, 12:49 AM Alex Eftimie <notifications@github.com>
wrote:

[2017-10-26 17:36] dghubble commented on #736
Just to clarify, etcd v3.2.0 does [remove the warning](https://github.com/coreos/etcd/blob/v3.1.10/pkg/transport/listener.go#L238-L240), but this issue was filed about the log line from the apiserver. which is still present.

[2017-10-26 17:49] dghubble commented on #749
We should probably update https://github.com/kubernetes-incubator/bootkube/blob/master/hack/quickstart/quickstart-aws.md with any AWS-specific requirements.

Relevant code is [aws.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go), but I can't seem to find solid Kubernetes docs on setup requirements for that cloud-provider. Here are some issues where p

[2017-10-26 17:56] dghubble opened #754 "Update docs to refer to cloud-provider specific materials"
Update https://github.com/kubernetes-incubator/bootkube/blob/master/hack/quickstart/quickstart-aws.md to mention any AWS-specific requirements for using `--cloud-provider=aws`. [aws.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go) appears to make quite a few assumptions about IAM roles, metadata access, tags, etc.

- [ ] Find upstream documentation,

[2017-10-26 17:56] dghubble commented on #749
Closing in favor of #754

[2017-10-26 17:56] #749 closed

[2017-10-26 18:27] ericchiang commented on #754
Best resource I could find was a doc by Heptio on this https://docs.google.com/document/d/17d4qinC_HnIwrK0GHnRlD1FKkTNdN__VO4TH9-EzbIY/edit?ts=59d7b23b#heading=h.2hif681swxfg

Would be a good starting point. Also might be better to just contribute these requirements upstream and link to them from bootkube's doc.

[2017-10-26 18:30] aaronlevy commented on #754
I'm a bit hesitant to go down that road. We don't test cloud-provider specific features (conformance is just vanilla k8s). I might lean toward just documenting "If you're doing this for real, you should set the cloud-provider, and read X docs".

The intention with quickstart is just launch simple compute resources. Having to do things like setup iam roles, tags, etc. starts to just complicate some

[2017-10-26 18:38] dghubble commented on #754
I'm not opposed to saying we only support/test clusters without a custom cloud-provider. Now that you mention it, the quickstart doesn't actually add cloud-provider=aws, my mistake I thought it was broken as shown. The issue reporter must have added that independently.

[2017-10-26 18:45] dghubble commented on #754
Looking through that document, the requirements do seem much more involved than we want to get into with roles and tags, since bootkube is just showing examples. Plus I'd consider `ec2: *, elasticloadbalancer: *` somewhat egregious from a security standpoint anyway, I wouldn't want to endorse it here.

Let's keep the quickstart as is (no cloud-provider) and opt for documenting, "if you set a cloud

[2017-10-27 20:06] #744 closed

[2017-10-27 21:53] dghubble commented on #251
`--self-hosted-kubelet` is marked deprecated and will be removed in a future release.

[2017-10-27 21:53] #251 closed

[2017-10-27 21:53] dghubble commented on #355
`--self-hosted-kubelet` is marked deprecated and will be removed in a future release.

[2017-10-27 21:53] #355 closed

[2017-10-31 00:16] #712 closed

[2017-10-31 13:52] klausenbusk commented on #738
I just experienced something weird with our k8s cluster yesterday (bootkube v0.7.0) and self-hosted etcd.

The `kube-etcd` and `kube-etcd-client` service had somehow vanished, so the cluster kind of broke down. `kubectl get pod` worked with certificate, but everything requiring etcd (write?) seemed to be broken.

After adding `kube-etcd-000{1...3}.kube-etcd.kube-system.svc.cluster.local` to every

[2017-10-31 18:22] aaronlevy opened #757 "validate api-servers flag contains both host:port"
the `--api-servers` flag expects there to be a port defined: https://github.com/kubernetes-incubator/bootkube/blob/master/cmd/bootkube/render.go#L69

But it looks like we don't validate that. If no port is defined, the `--secure-port` flag may be left empty: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/internal/templates.go#L190 which is invalid

[2017-10-31 18:30] omkensey commented on #757
IMHO if no port is specified, just defaulting to 443 and starting up makes sense.

[2017-10-31 18:38] aaronlevy commented on #757
Technically the default is `6443`, so I'd probably lean in that direction if we're going to default the flags.

[2017-10-31 22:49] dghubble commented on #757
kubeadm switched to 6443. I've disagreed with this in the past. Discussion: https://github.com/poseidon/terraform-render-bootkube/pull/17

[2017-10-31 23:04] aaronlevy commented on #757
A big reason for this would be so that you can set the apiserver pod to not run as root (443 is privileged port + hostNetwork). I'd like to get default pod-security policies in place that don't allow running as root, and enforce it even on control-plane components (especially ones that are likely exposed to the internet).

[2017-10-31 23:31] dghubble commented on #757
I left the possibility open before. We'd want to make sure it works with either port for a release cycle because of the impact on firewalls and load balancers / routers and other details in setups. (i.e. need to update a bunch of things).

[2017-11-01 00:44] omkensey commented on #757
Would giving the non-root apiserver container CAP_NET_BIND_SERVICE solve the binding problem?

[2017-11-01 23:06] aaronlevy commented on #757
Yes, but with the way docker builds image layers, it basically doubles the size (two copies of the binary). Also I believe you still have to give the pod that capability too then.

[2017-11-02 02:36] omkensey commented on #757
I meant giving it that capability at runtime via securityContext in the pod spec.  There shouldn’t be a need to actually rebuild the container then should there?

[2017-11-02 11:03] squeed commented on #463
As long as you don't hit your 300-route limit (or whatever your quota is)...
...
yeah.

[2017-11-07 06:36] dghubble commented on #738
I've dropped self-hosted etcd option from projects [matchbox#655](https://github.com/coreos/matchbox/pull/655) and [typhoon#13](https://github.com/poseidon/typhoon/issues/13) if that clarifies things for anyone. Updated the issue to reflect that self-hosted etcd is no longer tested as well.

[2017-11-08 22:14] dghubble commented on #741
Resolved with Kubernetes v1.8.3 and #742

[code]

[2017-11-09 20:39] #741 closed

[2017-11-10 15:24] beatlejuse opened #769 "bootkube"
my system does not have a command "bootkube":
"-bash: bootkube: command not found".
you forgot to write in the instructions, how and where to install the bootkube so that it will work!

[2017-11-11 03:51] dghubble commented on #769
You can either build [from source](https://github.com/kubernetes-incubator/bootkube/blob/master/Documentation/development.md) or use the prebuilt binary in [release tarballs](https://github.com/kubernetes-incubator/bootkube/releases) provided for convenience.

[2017-11-12 09:12] beatlejuse commented on #769
Thank you!

[2017-11-12 09:12] #769 closed

[2017-11-12 11:08] beatlejuse opened #770 "etcd migration"
in this video (https://youtu.be/EbNxGK9MwN4 from 31:30) described the process of transition from native etcd cluster to etcd-cluster in kubernetes.
How can i use this automation element in my cluster automation process?
i'm deploying my cluster by PXE. i'm using CoreOS. for start kubernetes, i'm using etcd-cluster in CoreOS.
After start kubernetes, i need migrate etcd-cluster to kubernetes and i w

[2017-11-12 12:56] JrCs opened #771 "[Feat] add an option to allow to select the backend that is used by flannel"
Actually "vxlan" is hard coded in flannel configuration file.
Can you add an option to allow to configure the backend that is used by flannel (like "[host-gw](https://github.com/coreos/flannel/blob/master/Documentation/backends.md#host-gw)" ) ?

[2017-11-12 20:50] klausenbusk commented on #770
Have you read https://github.com/kubernetes-incubator/bootkube/issues/738 ?

[2017-11-13 01:56] rockwyc992 commented on #770
[here](https://github.com/coreos/etcd-operator/blob/master/CHANGELOG.md#release-031) is the way to migrate your etcd to self-hosted.
But you need to change the etcd endpoints for kube-apiserver by yourself.

BTW, I think self-hosted EtcdCluster is a good idea to manage and recover your EtcdCluster.

[2017-11-13 02:04] rockwyc992 commented on #770
[here](https://github.com/kubernetes-incubator/bootkube/blob/master/Documentation/disaster-recovery.md#if-an-etcd-backup-is-available-self-hosted-etcd) is the way tell you how to recover a Kubernetes with self-hosted EtcdCluster from a backup-file.

Don't try etcd-operator version greater than "v0.5.0". You may meet some problems about compatibility.

[2017-11-13 08:39] beatlejuse commented on #770
Thank you very much! I'll try it and will write about the result

[2017-11-15 09:38] mattenklicker commented on #664
Ran into the same (key created with openssl standard values). The problem is in this function: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/tlsutil/tlsutil.go#L99.
`pem.Decode` decodes every private key, but after that the only `ParsePKCS1PrivateKey` is tried to parse the key. `ParsePKCS1PrivateKey` supports only RSA structured keys.

As fallback probably the other parsers shou

[2017-11-15 10:40] redbaron commented on #502
There is Python however, so flock can be implemented using following oneliner:

[code]

[2017-11-15 10:55] redbaron commented on #502
Just tested with following manifests and it works well:

[code]

Running apiserver process is only process in container and it holds lock:
[code]

[2017-11-15 18:29] diegs commented on #502
I believe @rphillips has done work to migrate the hyperkube images to debian jessie. I am retrying my PR to remove the flock, but otherwise we can probably add `--no-fork` once the jessie hyperkubes are released.

[2017-11-15 18:46] rphillips commented on #502
*stretch hyperkubes will be in k8s 1.9, where we can add the ```--no-fork```.

[2017-11-15 19:11] rothgar opened #773 "Use same certificate folder as kubeadm"
Bootkube uses /etc/kubernetes/kubelet/tls for storing certificates. Kubeadm uses /etc/kubernetes/pki

It may be nice to use a common folder for admins/users to not have to remember or look in two places.

Opening this after #663 discussion

[2017-11-15 22:07] ericchiang commented on #773
In #663 `/etc/kubernetes/kubelet/tls` is only for rotated kubelet certs.  I think kubeadm stores _all_ of its certificate data in `/etc/kubernetes/pki`, like the CA, administrative client certs, etc.

It looks like kubeadm doesn't set the `--cert-dir` argument, so it should default to `/var/lib/kubelet/pki`.

https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.2/build/debs/10-kubeadm.conf

[2017-11-16 00:03] ericchiang commented on #773
Also since this is a kubelet configuration, bootkube itself doesn't rely on this being any particular directory. Users of bootkube can configure it to whatever they want (though they'll likely just copy our examples).

[2017-11-16 01:22] dghubble commented on #770
Unfortunately, we're no longer prioritizing time for Kubernetes backed by self-hosted etcd, per #738. Tests have been disabled for now, but may be resumed if things change #748

As such, we're not encouraging migrating to it.

[2017-11-19 14:26] jpds opened #779 "Integrate support for Cilium CNI"
I'd like to use cilium.io as my CNI with a Typhoon deployment at some point, however it looks like bootkube requires support for this first before support can be added there.

[2017-11-20 18:22] thomastaylor312 commented on #456
Little late on this issue, but we changed our self-hosted API server (spun up with bootkube) to use `ClusterFirstWithHostNet`. It seems to work well, but we get lots of flakes spinning up a cluster in a cloud provider (AWS in this case) because it can't resolve the API if the cluster DNS isn't ready

[2017-11-20 19:00] dghubble commented on #779
No specific changes need to be made to `bootkube start` for the self-hosted control plane to use a particular CNI provider. You can independently swap the flannel manifests for your Cilium manifests and try to get it to work correctly.

If you're interested in adding Cilium, a good starting point would be adding the DaemonSet and sidecar (to lay down the CNI plugins on hosts) manifests to `bootkub

[2017-11-20 23:52] ericchiang commented on #771
Bootkube generally doesn't add flags for every option. You can easily tweak the results of `bootkube render` though, or render your own manifests and just use `bootkube start` for further customization.

[2017-11-21 05:07] rockwyc992 commented on #735
So that, if I want to update kubelet version of my cluster, how should I do?

I think I will update `/etc/kubernetes/kubelet.env` on every node manually, or I will Install new node with new version to replace old one.

These are not the best way to use Kubernetes. Does there is any operator to help my do this? (Like what container-linux-update-operator do)

[2017-11-21 06:59] dghubble commented on #735
Yes, the kubelet should be run as a kubelet.service which may source a
kubelet.env file or set the version in the unit. Edit the version and
restart the service or just replace the node with another that has the
rev'd version.

It's your choice:
1. Configuration management to edit each host
2. Custom operator to edit each host
3. Immutable infrastructure to rolling replace nodes (i.e. new user-dat

[2017-11-21 07:08] klausenbusk commented on #735
Hmm, that shouldn't be that hard to implement.
Store the `kubelet.env` in a `ConfigMap`, create a container which keep the on disk `kubelet.env` in-sync with the `ConfigMap` and run it as a `DaemonSet`. Then when the on disk `kubelet.env` change send a dbus `UPDATE_STATUS_UPDATED_NEED_REBOOT` to [CLUO](https://github.com/coreos/container-linux-update-operator) `update-agent`. Job done..

[2017-11-21 07:45] dghubble commented on #735
You only need to restart kubelet.service really. Not the whole machine.

On Mon, Nov 20, 2017, 11:08 PM Kristian Klausen <notifications@github.com>
wrote:

[2017-11-21 08:07] klausenbusk commented on #735
Correct, but then I would need to write my own logic to manage that. It is easier just to rely on the [CLUO](https://github.com/coreos/container-linux-update-operator) logic, ex: it prevent a bad update from affecting all nodes.

I could of course reimplement all that logic to save a reboot/draining, but that doesen't really adds up.

[2017-11-21 08:44] JrCs commented on #771
Ok i understand

[2017-11-21 08:44] #771 closed

[2017-11-21 18:44] dghubble commented on #735
Sure, an internal Tectonic operator does it exactly like that. Mainly due to broader scope and time constraints. I'd still recommend anyone exploring writing a custom operator consider lighter weight designs.

Anyway, self-hosted kubelet support is removed in #760

[2017-11-21 18:44] #735 closed

[2017-11-22 09:55] klausenbusk commented on #660
@strowi Did you ever figure this out?

[2017-11-22 10:01] strowi commented on #660
tbh we ran into some other problems with psp, and decided to remove them altogether.
But maybe this has changed in more recent version..

[2017-11-22 18:02] klausenbusk commented on #660
@aaronlevy Would it make sense to enable `PodSecurityPolicy` as default, or is it out of scope? From what I understand, it would require enabling the `PodSecurityPolicy` admission controller, starting `kube-controller-manager` with `--use-service-account-credentials` and adding a default `PodSecurityPolicy`.

Something like: https://github.com/coreos/tectonic-installer/pull/2102/ , but we don't ne

[2017-11-22 19:42] ericchiang commented on #602
There aren't any instructions in the README for `go get`

/assign
/close

[2017-11-22 19:44] #338 closed

[2017-11-22 19:45] #325 closed

[2017-11-22 19:46] ericchiang commented on #301
This has been fixed https://github.com/kubernetes-incubator/bootkube/pull/767

[2017-11-22 19:50] #602 closed

[2017-11-23 16:30] redbaron commented on #646
Facing similar problem: checkpointer cannot recover singlenode self hosted kluster when apiserver has `ports:  [{"containerPort":443"}] ` in it's definition.

Kubelet log has following:

[code]

I guess even if user specified both ports & hostNetwork, then port info should be stripped when checkpointing, otherwise it is not recoverable

[2017-11-24 19:11] hongchaodeng commented on #770
@aaronlevy @dghubble

Why close this issue? This is a problem and should be kept open until it is fixed. Right?

Who is "we"? And why we should close an issue that users reported problems?

cc @philips

[2017-11-24 19:14] hongchaodeng commented on #770
This should be reopen-ed.
Let's discuss on the following Monday for permissions to close issues.

[2017-11-24 22:06] dghubble commented on #770
Would you like to be assigned?

[2017-11-24 23:25] hongchaodeng commented on #770
Sure. Thanks for re-opening it.

[2017-11-27 15:53] aaronlevy opened #782 "Enable podSecurityPolicy by default"
Broken out of discussion in: https://github.com/kubernetes-incubator/bootkube/issues/660

We should enable - then have a pretty locked-down default, and documentation for allowing more "permissive" policies.

/cc @ericchiang @joshrosso

[2017-11-27 15:53] aaronlevy commented on #660
I do think that it is in scope - and something I'd like to have enabled. Opened an issue specifically about that to keep discussion in one place: https://github.com/kubernetes-incubator/bootkube/issues/782

[2017-11-27 17:00] ericchiang commented on #782
@colemickens volunteered to work on this btw.

[2017-11-27 18:10] ericchiang opened #783 "Improve log collection for e2e tests"
- [ ] Organize log artifacts based on which node they we captured from.
- [x] All logs should include timestamps.
- [ ] Stop depending on the fluentd manifests compiled into https://github.com/coreos/ktestutil

We should consider removing fluentd since we still have to SSH to the master to grab them off disk (it's not configured to actively send logs to s3 or something like that). If the master re

[2017-11-27 18:12] rphillips commented on #783
nit, ```for unit in "kubelet docker"; do ...``` the echo is superfluous

[2017-11-27 21:50] diegs commented on #502
Fixed by #616

[2017-11-27 21:50] #502 closed

[2017-11-29 15:24] rphillips commented on #783
Some tweaks to store in a logs directory, so they are easily copied.

[code]

[2017-11-30 04:29] omkensey commented on #311
Correct me if I'm wrong -- this results in a single nginx pod, yes?  Won't that potentially move around the cluster and thus the HA endpoint IP will change?  (Actually, if it's just a Pod with no Deployment in front of it, won't it just go down if the current node fails?  Pods explicitly do not survive node failures.)  I like something like keepalived-vip better or even a full cluster service like

[2017-12-01 16:35] klausenbusk commented on #311
Are you referring to #684? #684 runs a nginx-prox pod on every node and listen on localhost, you would then connect to the API server through localhost.
I'm using that design (but not #684) right now in a 12 node cluster (3 masters + 7 workers + 2 "vpn" servers), it works pretty well.

[2017-12-05 05:52] diegs commented on #519
Fixed in #777

[2017-12-05 05:52] #519 closed

[2017-12-05 16:27] redbaron commented on #112
Been thinking about this,  can't checkpointer help here? mark controller-manager as pod to be checkpointed, then it would be recovering it if it can't find it on the node. There can be edge case when it recovers too many pods, but given that they do leader election that is fine to have few extra running.

As for the scheduler, making it daemonset would allow  it to be enough just for controller-ma

[2017-12-12 01:21] aaronlevy commented on #112
With the behavior changes introduced in https://github.com/kubernetes-incubator/bootkube/pull/755 checkpointing the controller-manager / schedule might be possible (before we might garbage the checkpoints of those components before replacements have been scheduled). It might still be a little bit racy though.

cc @diegs

[2017-12-12 23:33] klausenbusk opened #800 "bootkube should tolerate uninitialized nodes"
I think all the `bootkube` manifest should tolerate the `node.cloudprovider.kubernetes.io/uninitialized` taint.

This would make it possible to bootstrap a cluster with a external CCM (Cloud Controller Manager) and `--cloud-provider=external` and should make it safe to switch a running cluster to a CCM.

Per the design docs: https://github.com/kubernetes/community/blob/930ce65595a3f7ce1c49acfac711

[2017-12-13 21:37] rphillips commented on #783
Fixed with the previous PR.

[2017-12-13 21:38] rphillips commented on #783
Woops. Need to bump the vendor deps to pull in the fix.

[2017-12-13 21:40] ericchiang commented on #783
@rphillips I think it'd still be a good long term goal to get rid of depending on a fluentd manifests compiled into coreos/ktestutil. Maybe I can make that a different issue.

[2017-12-13 21:41] rphillips commented on #783
We could still do that in this issue.

[2017-12-13 21:54] rphillips commented on #783
Vendor Bump: https://github.com/kubernetes-incubator/bootkube/pull/805

[2017-12-14 19:24] rphillips commented on #783
Fluentd doesn't support a custom output format (really strange). It's just a machine log forwarder, so cleaning up the json log lines is tricky.

[2017-12-14 19:44] dghubble opened #806 "Tests should retry ssh to workers"
Conformance tests on GCE don't retry reaching a worker node. It fails the job.

[code]

https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-dev/55/console

[2017-12-15 16:22] ericchiang commented on #806
/assign @rphillips

[2017-12-15 17:16] bcg62 commented on #782
a little shocked to use booktube and find it wide open by default. +1 for this.

[2017-12-15 17:25] redbaron commented on #782
@bcg62 , PSP is not an easy ride, every ServiceAccount need to be granted permission to use some PSP and not other. PSPs need to be prepared for many core services. Once enabled almost all ready-made yaml/helm charts are going to fail (should you have strict enough default PSP of course, which is the whole point of this exercise).

[2017-12-15 19:10] ericchiang commented on #782
Agreed, I think this is a bit hyperbolic. PSPs are just being brought to a usable state in 1.9.

[2017-12-18 10:46] klausenbusk commented on #800
See also: https://github.com/projectcalico/calico/pull/1286

[2017-12-18 13:52] adnoh commented on #732
Setting the vm-name doesn't work for me. I don't see any further usage of this parameter in the provider.
I'm not a go Pro but I don't see any other way as giving access to /sys/class/dmi/id/product_serial because of vsphere.go:
[code]

[code]

My workaround is to do a ```/usr/bin/chmod 444 /sys/class/dmi/id/product_serial``` in the kubelet.service ExecStartPre. Not the beautifulest solution, but

[2017-12-18 20:29] ericchiang commented on #800
@colemickens I know you got CCM running with bootkube before. Can you comment on this?

[2017-12-18 20:38] colemickens commented on #800
I would agree with this assesment: https://github.com/colemickens/tectonic-installer/commit/4e948bd7326a0729dd18d31dd22fd475b096cc4a#diff-83beaecec190e3958db827dd8a570b14R60

[2017-12-19 03:05] rphillips opened #809 "DNS Port migration off of privileged ports"
In writing the root-requirements document, @aaronlevy mentioned we might be able to have the dns service listen on a non-priviledged port and use a Service to expose port 53.

related to: https://github.com/kubernetes-incubator/bootkube/pull/808

[2017-12-19 07:53] amarruedo commented on #732
@adnoh yeah, specifying `vm-name` on `vSphere.conf` of master and worker nodes worked for me.

[2017-12-19 14:36] raspberrypython opened #811 "Missing release tarball for bootkube v0.9.1"
https://github.com/kubernetes-incubator/bootkube/releases/tag/v0.9.1 doesn't have the usual binary tarball.

[2017-12-19 17:55] dghubble commented on #811
Added, thanks for pointing it out.

[2017-12-19 17:55] #811 closed

[2017-12-19 22:42] jpds commented on #779
PR now at: https://github.com/poseidon/terraform-render-bootkube/pull/34

[2017-12-20 10:49] xvzup commented on #660
Today I tried what is described in this thread and it is working on a 1.8.5 cluster (bootkube v0.9.1)

The changes are described above, but this is what I did:

kube-apiserver
- Admission controller PodSecurityPolicy enabled
- - --runtime-config=extensions/v1beta1/podsecuritypolicy=true

kube-controller-manager:
- - --use-service-account-credentials

[2017-12-20 11:40] redbaron commented on #660
FYI, I have it working without `-runtime-config=extensions/v1beta1/podsecuritypolicy=true`

[2017-12-20 18:43] diegs opened #815 "Log collection failures shouldn't cause tests to fail"
cc @rphillips

Saw this in an e2e test result. Everything in the test suite passed.

https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e/658/console

[code]

[2017-12-20 19:01] diegs opened #816 "Test flake in TestCheckpointer/UnscheduleCheckpointer"
https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e-calico/243/console

[code]

[2018-01-02 19:48] aaronlevy opened #820 "Consider adding the local hack examples to automated e2e tests"
Having examples that aren't automatically tested isn't ideal. `hack/single-node` and `hack/multi-node` are vagrant based - so not exactly sure effective way to do this (maybe try and more closely share configuration with the hack/cloud examples - to at least validate configuration vs compute bring-up).

[2018-01-03 18:45] weikinhuang opened #822 "Apiserver doesn't survive node reboot in non HA mode"
After a node reboot or kube-apiserver version update (when there is only 1 instance of the api-server), the api server never recovers and will go into a crashloop with the following message:

[code]

This issue started somewhere between bootkube 0.8.1 and 0.9.1.

[2018-01-03 18:55] xiang90 commented on #822
Can you help to investigate this problem more, and identify the specific version? We also hope to see the more concrete steps to reproduce this problem if possible. Thanks!

[2018-01-03 19:21] weikinhuang commented on #822
I can try, but I don't really have the hardware to do so. I'm just running this at home, and the reboot happens when coreos updates.

In this instance, I tried adding the `--runtime-config=api/all=true` flag to the apiserver then doing a `kubectl apply -f manifests/kube-apiserver.yaml` (running this on bootkube v0.9.1)

[2018-01-03 20:28] weikinhuang commented on #822
Tried reproducing, unable to get the error to happen again. And have since rebuilt the cluster from scratch. However the 2 conditions above are when I have encountered it.

[2018-01-08 15:28] rphillips opened #823 "Remove root requirement for checkpointer"
Discussion: https://github.com/kubernetes-incubator/bootkube/pull/808

`/etc/kubernetes/manifests` currently requires root privileges, but it does not have to for the long term.

Goal: Remove the root requirement for the checkpointer, so it runs as an unprivileged user.

[2018-01-08 17:19] ericchiang opened #824 "Reduce e2e test flakes"
# PR e2e Calico

Between 259 and 228 inclusive 12 builds failed (~35%).

TestCheckpointer/UnscheduleCheckpointer

2018-01-08 https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e-calico/259/console
2017-12-20 https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e-calico/243/console
2017-12-20 https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e-ca

[2018-01-08 20:50] ericchiang opened #827 "Print node readiness and/or CNI install status during bootkube start"
Today, if `bootkube start` gets stuck at the following stage:

[code]

This indicates an issue with node readiness.

In order for the kube-scheduler or kube-controller-manager to run, the CNI plugin (flannel or calico) needs to install so the node can be ready and can receive non-daemonset workloads. Consider adding a status updates for CNI and node readiness.

[2018-01-08 21:06] diegs commented on #824
Smoke test (probably actually reboot test):

2018-01-08 https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e/683/console

[2018-01-11 17:58] ericchiang commented on #824
/assign @colemickens

[2018-01-11 18:14] colemickens commented on #824
/assign @colemickens

[2018-01-12 13:19] qianyong-2005 opened #829 "bootkube start failed"
hi,
I run bootkube 0.91 on coreos at workstation pro.
#error log:
[code]
# base info,
node1 don't directly access gcr.io, quay.io
[code]

[2018-01-12 13:46] redbaron commented on #829
to investigate further, please check `kubectl -n kube-system get pods` and get logs/description of a failing pod

[2018-01-12 19:37] ericchiang commented on #773
#663 is now merged.

[2018-01-12 19:37] #773 closed

[2018-01-12 23:50] ericchiang commented on #379
Self-hosted etcd has been removed from bootkube for the time being. Will re-open if/when we add it back in.

[2018-01-12 23:50] #379 closed

[2018-01-12 23:50] ericchiang commented on #770
Self-hosted etcd has been removed from bootkube for the time being. Will re-open if/when we add it back in.

[2018-01-12 23:50] #770 closed

[2018-01-12 23:50] ericchiang commented on #748
Self-hosted etcd has been removed from bootkube for the time being. Will re-open if/when we add it back in.

[2018-01-12 23:50] #748 closed

[2018-01-12 23:51] ericchiang commented on #738
Self-hosted etcd has been removed from bootkube for the foreseeable future https://github.com/kubernetes-incubator/bootkube/pull/828

[2018-01-12 23:51] #738 closed

[2018-01-12 23:52] ericchiang commented on #563
Self-hosted etcd has been removed from bootkube for the time being. Will re-open if/when we add it back in.

[2018-01-12 23:52] #563 closed

[2018-01-12 23:52] #343 closed

[2018-01-13 00:16] ericchiang opened #833 "Bump vendored k8s.io repos to 1.9"
Brought up by @aaronlevy. We currently vendor client code from Kubernetes 1.7. Update this to 1.9 to match our hyperkube version.

[2018-01-13 02:31] qianyong-2005 commented on #829
[code]

[code]

[2018-01-13 14:54] redbaron commented on #829
Do you see files in `/etc/kubernetes/manifests` at all? there should be bootstrap control plane files created by bootkube.

[2018-01-14 02:29] qianyong-2005 commented on #829
this directory have no files

[code]

[2018-01-14 04:57] qianyong-2005 commented on #829
@redbaron thank you reply.

rkt need hypekube ?   I use this command "rkt image list", no hypekube.
[code]

[2018-01-14 10:59] redbaron commented on #829
Check how do you run bootkube. If you run it inside container, check that you mount /etc/kubernetes/manifests in that container. Test it yourself: docker/rkt exec into bootstrap container, then create file in /etc/kubernetes/manifests, then docker/rkt exec into kubelet container, check that you see file you just created. If it is not the case, you messed up mountings

[2018-01-14 12:50] qianyong-2005 commented on #829
don't into container
[code]

[2018-01-14 14:52] qianyong-2005 commented on #829
"Get https://gcr.io/v2/"  what image want to get?
my local machine cann't access   "gcr.io/v2/"

[code]

[2018-01-16 15:35] djtaylor opened #834 "Cluster Recovery: Key not found in snapshot"
We are running CoreOS Tectonic currently on Kubernetes 1.8.2. We have a secondary cluster we are in the process of testing disaster recovery on. I have deployed a few applications to verify our recovery process works. We are running on bare-metal on premise in our own datacenter. I am following the instructions at:

https://coreos.com/tectonic/docs/latest/troubleshooting/bootkube_recovery_tool.htm

[2018-01-16 17:46] ericchiang opened #835 "Commit github.com/coreos/ktestutil to this repo"
https://github.com/coreos/ktestutil doesn't have any tests and only really serves the bootkube project. Long term, we'd like to remove the dependency. Short term, copy the source to an `internal` package (maybe `e2e/internal/e2eutil`) and rewrite the imports to use that, so we can iteratively phase it out.

cc @rphillips want to take this one?

[2018-01-16 20:28] djtaylor commented on #834
Marking this as closed. This issue is because while in CoreOS Tectonic terminology self-hosted etcd is running directly on the controller nodes. In this case, it seems bootkube is assuming that it is running inside Kubernetes, rather than with rkt on the controller node. If I use the etcd server flag this is not an issue.

[2018-01-16 20:28] #834 closed

[2018-01-17 00:17] ericchiang opened #837 "e2e: TestReboot test doesn't wait for real control plane to be restored, can cause flakes in TestSmoke"
TestReboot only waits for the nodes to be ready. Based on my testing, the control plane is just the checkpointed control plane, not the actual one. When the control plane does come back, there's a point where neither is running, which can impact the TestSmoke test.

In https://github.com/kubernetes-incubator/bootkube/pull/831 I tried to wait for the API server to loose the checkpointer annotation,

[2018-01-17 00:22] xiang90 commented on #837
this issue itself might worth investigation and a separate github issue tracking. i do not expect it can take such a long time.

[2018-01-17 01:01] dghubble commented on #837
Is 5 minutes excluding the time for the node to shutdown and come back up? I don't see it in logs, but maybe its there.

[2018-01-17 01:29] ericchiang commented on #837
5 min after all nodes are marked ready.

On Tue, Jan 16, 2018, 5:01 PM Dalton Hubble <notifications@github.com>
wrote:

[2018-01-17 18:53] colemickens commented on #837
/assign colemickens

[2018-01-18 22:11] #835 closed

[2018-01-18 22:15] ericchiang commented on #837
I have a hypothesis that removing the API server flock (https://github.com/kubernetes-incubator/bootkube/pull/616) might make the API server hand-off less clean and increase the amount of time it takes to recover. We should still ensure the test waits for the real control plane to come back up, but it might be worth trying to add the flock back in.

[2018-01-18 23:16] #816 closed

[2018-01-21 21:59] klausenbusk opened #846 "v0.10.0 is lacking a binary release tarball"
@rphillips

[2018-01-22 14:47] #829 closed

[2018-01-22 14:49] qianyong-2005 commented on #829
May be is may aws account is not grannted route53 , and I don't continue this problem.

[2018-01-22 15:52] rphillips commented on #846
thanks. fixed

[2018-01-22 15:52] #846 closed

[2018-01-22 21:56] ericchiang commented on #806
bump @rphillips

[2018-01-22 22:46] colemickens opened #851 "e2e: Re-enable disabled part of checkpointer tests"
PR #836 disabled part of the `UnscheduleCheckpointer` test. We should investigate the checkpointer further and re-enable all of the test.

We might consider trying to add a wait for control plane stabilization as well, before checking that the checkpointer pods are all cleaned up.

[2018-01-22 22:53] ericchiang commented on #851
/assign

[2018-01-23 00:00] diegs commented on #837
@ericchiang adding the flock back in makes it difficult to run the apiserver as a non-root user, since its current implementation relies on using a host-mounted lock file in `/var/lock`

[2018-01-23 00:15] ericchiang commented on #837
@diegs yeah, but if it impacts reboot times this much I'm in favor of a revert.

Let's open a PR once https://github.com/kubernetes-incubator/bootkube/pull/847 gets in. Then if it was an issue we can discuss trade-offs.

[2018-01-23 00:17] colemickens commented on #837
Yes, I will do this in a separate PR. We can discuss a less-privileged location to place the lock file as well. (I'll go ahead and update the PR description to reflect the removal of the revert. Thanks)

[2018-01-23 17:00] aaronlevy opened #853 "Render should always use TLS for etcd"
We shouldn't encourage the use of insecure etcd in our render step - and should probably just remove this option (`etcdUseTLS`). If a user wants insecure etcd - they could still provide assets they have modified to the `start` phase.

[2018-01-23 20:10] coresolve opened #857 "Extend recover command to support temp control plane."
In some cases a misconfiguration of the apiserver opject in etcd causes the control plane to crash.
At this point there are not great options to correct it.

A current work around is to:

1. Use bootkube recovery to make static assets.
2. Copy the tls directory contents to /etc/kubernetes/bootstrap-secrets
3. View and possibly modify the config of the apiserver manifest in bootstrap-manifests.
4.

[2018-01-23 22:03] ericchiang commented on #809
For some unrelated reasons, kube-dns can't be run as non-root today https://github.com/kubernetes/dns/issues/190

[2018-01-23 22:04] ericchiang commented on #736
Doesn't seem like we're going to take action on this. Closing.

[2018-01-23 22:04] #736 closed

[2018-01-23 22:05] dghubble commented on #736
Yes, its external to us. Whenever upstream vendors in etcd 3.2.0, the warning should disappear.

[2018-01-23 23:33] xiang90 commented on #857
@coresolve

Another way is to modify/fix the API configuration in etcd directly before recovery. API machinery is working on a tool to make it easier to do that in a k8s centric way, see https://github.com/jpbetz/auger

[2018-01-23 23:37] xiang90 commented on #857
I am not against allowing a user defined temporary API server teardown process as @coresolve proposed. But I hope to see a clean, supported and well-documented method.

[2018-01-24 03:12] #837 closed

[2018-01-24 03:17] diegs commented on #837
@colemickens @ericchiang another reason not to use the flock is because (at least the one that was in the old hyperkube image) didn't propagate signals properly, so terminating the apiserver was broken. There's an issue somewhere here about it (probably closed now)

[2018-01-24 03:17] diegs commented on #837
Ah yes #502

[2018-01-24 15:15] useltmann opened #860 "Bootkube start stuck at "created pod-checkpointer daemonset""
I am following your [HowTo](https://coreos.com/matchbox/docs/latest/bootkube.html) on how to run kubernetes with bootkube. I already managed to create three virtual machines based on your HowTo to [matchbox-with-docker](https://coreos.com/matchbox/docs/latest/getting-started-docker.html).

Everything goes flawless until it comes to `sudo systemctl start bootkube`.

`ssh core@node1.example.com 'jou

[2018-01-24 15:25] useltmann opened #861 "hyperkube api-server is not starting: listen tcp 0.0.0.0:443: bind: permission denied"
coming from a fresh installation via *matchbox-docker*, *libvirt* and *bootkube-install* and working around #860 i have the problem, that i cannot access my master-node via `kubectl`:
[code]

Investigation *node1.example.com* shows the following containers not starting properly:
[code]

Since i am not able to contact the node and the api-server seems not to work properly i revealed its logs:
[code

[2018-01-24 15:56] rphillips commented on #861
There was a recent change to bootkube to run the api server as an unprivileged user on port 6443. Looks like we need to patch matchbox as well.

[2018-01-24 15:59] rphillips commented on #861
@useltmann when you run bootkube render, try passing `--api-servers=https://node1.example.com:6443` instead of passing 443.

[2018-01-24 18:06] coresolve opened #862 "bootkube should determine if etcd has previous content in it."
Bootkube assumes that it's filling an empty etcd cluster. If one runs bootkube twice in a row on the same etcd cluster there will be conflicts and bootkube will fail.

An example failure:
[code]

I think it makes sense to determine if there are entries in etcd before doing work. If so complain about that and exit.

[2018-01-24 18:10] xiang90 commented on #862
@coresolve

There are quite a bit per-checking we can do around etcd:

1. is the etcd version supported
2. is the etcd empty
3. is the etcd endpoints belonging to the same cluster
4. is the etcd deployment performant enough to support k8s

I am not sure if bootkube is the right place to do any of these per-checking. Or the installer that invokes bootkube should. As far as I can see, we never try t

[2018-01-24 18:34] ericchiang commented on #862
Possible dup of https://github.com/kubernetes-incubator/bootkube/issues/700 ?

[2018-01-24 22:37] ericchiang opened #864 "More TestReboot/TestSmoke flakes"
We're still seeing issues with TestReboot and TestSmoke, despite https://github.com/kubernetes-incubator/bootkube/pull/847 (which I still believe helped significantly).

https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e/781/console
https://github.com/kubernetes-incubator/bootkube/pull/830

[code]

https://jenkins-kube-lifecycle.prod.coreos.systems/job/bootkube-pr-e2e/778/conso

[2018-01-24 23:06] colemickens commented on #864
Not any thoughts yet, it's definitely a different failure, but also concerning since it looks like apiserver is down/unhealthy. I was going to take another look at TestSmoke to add waiting for control plane, I'll keep an eye on apiserver as well during that 10 minute window.

Also strange that it fails with that continuously for 10 minutes, rather than being intermittent.

[2018-01-24 23:07] ericchiang commented on #864
@colemickens I think we need better logs. Ref https://github.com/kubernetes-incubator/bootkube/issues/783

(cc @rphillips)

[2018-01-24 23:14] ericchiang opened #865 "CI: be able to re-run individual e2e tests"
We plan on migrating CI soon. I'd be really good to have this.

[2018-01-24 23:18] ericchiang commented on #824
Even with Cole's PR we're still seeing flakes in TestReboot and consequentially TestSmoke. https://github.com/kubernetes-incubator/bootkube/issues/864

When reboots fail it's really hard to debug the underlying issue. I think it'd be worth re-investing in efforts to make our log collection better (https://github.com/kubernetes-incubator/bootkube/issues/783).

We also might want to add retries to T

[2018-01-24 23:18] ericchiang commented on #864
closing in favor of #824

[2018-01-24 23:18] #864 closed

[2018-01-25 07:45] useltmann commented on #861
That did id. thanks for the help.

[2018-01-25 07:52] colemickens commented on #861
@useltmann Can you close this if you're no longer having issues? Thanks!

[2018-01-25 11:27] useltmann commented on #861
I can close, but keep in mind that somebody should fix the [docs ](https://coreos.com/matchbox/docs/latest/bootkube.html)

[2018-01-25 11:27] #861 closed

[2018-01-25 11:33] colemickens commented on #861
Thanks @useltmann. I sent a PR to update the docs: https://github.com/coreos/matchbox/pull/693

[2018-01-25 11:52] klausenbusk commented on #853
We run etcd on all master nodes and use TLS for peer communication, but not for client communection (etcd just listen on localhost). Is that a valid/secure use-case?

[2018-01-25 16:36] rphillips commented on #806
on it

[2018-01-25 16:38] aaronlevy commented on #853
@klausenbusk - that's a good point to consider, thanks for bringing it up.

Thinking about it more - co-locating apiserver with etcd is somewhat common in the wider community (especially on single-node clusters).

[2018-01-25 22:03] #806 closed

[2018-01-26 01:18] carlos-licea commented on #738
Naïve question, why was this removed? I've been requested to have a similar setup. I have to wonder, what's the case for on-host etcd rather than self-contained?

[2018-01-26 01:52] redbaron commented on #738
@carlos-licea this very  thread wholly is dedicated to your question

[2018-01-26 02:06] carlos-licea commented on #738
@redbaron not trying to be dismissive but this thread is a bit vague and I cannot use it as-is to argue we should have in-host etcd's other than say, "weird things might happen".

[2018-01-29 18:55] #699 closed

[2018-01-30 15:03] LihuaWu opened #871 "kube-dns failed to resolve domain names due to lack of arg --kubecfg-file in kube-dns container starting command"
## environment:
bootkube version: 83b93c1c626c97feffb5ea50a62fc1be6a1e5a13
OS: centos7.2
kubelet version: 1.9.1
network-provider: flannel
Host Network: not connected to internet, behind a proxy

## what happened:
kube-dns failed to resolve domain names, due to connected to wrong apiserver(https://cluster-ip:443).

## How to solve it:
The solution works in my case, as follows:
1.  mount `kubeconfig

[2018-02-01 22:26] ericchiang commented on #871
Is the problem that you've configured your API server's DNS name to point at the proxy? But kube-dns needs to reference an alternative name?

[2018-02-03 04:32] dghubble opened #872 "Remove --etcd-quorum-read from apiserver manifests"
bootstrap-apiserver logs:

[code]

This was mentioned in the 1.9 Release [Notes](https://github.com/kubernetes/kubernetes/blob/ed04e55f6e8ed021144763caf9f4c6af9132f5d6/CHANGELOG-1.9.md#deprecations): Deprecation, API Machinery.

[2018-02-05 03:09] LihuaWu commented on #871
No,  AFAIK,  the problem has no relation with proxy.

It happened simply because it didn't use a kubecfg-file as its start command parameter. And then it connected to a wrong apiserver as its default behavior.

[2018-02-05 17:11] #783 closed

[2018-02-05 17:15] ericchiang commented on #872
/assign @rphillips

[2018-02-05 17:16] ericchiang opened #873 "Better "getting started" docs"

[2018-02-05 17:18] #873 closed

[2018-02-05 17:19] ericchiang commented on #865
/assign @colemickens

[2018-02-05 17:21] ericchiang commented on #815
I actually think this is the correct behavior. If log collection is broken or flaky, we can't rely on the test to be debuggable and we should fix the log collection scripts.

[2018-02-05 17:27] ericchiang commented on #871
Can you elaborate on what "wrong API server" means? Kube-dns sholud attempt to connect to the API server endpoint, which is an internal IP address.

[code]

[2018-02-05 17:30] ericchiang commented on #88
There are a lot of features we use in Bootkube that are version dependent. For example https://github.com/kubernetes-incubator/bootkube/issues/872 works for 1.9, but not 1.8.

I think real minor branches that we can cherry pick onto would be a better solution.

[2018-02-05 17:33] ericchiang commented on #240
Self-hosted etcd has been removed for now https://github.com/kubernetes-incubator/bootkube/issues/738

Closing for now until we decide to re-enable it.

[2018-02-05 17:33] #240 closed

[2018-02-05 17:33] ericchiang commented on #710
Self-hosted etcd has been removed for now https://github.com/kubernetes-incubator/bootkube/issues/738

Closing for now until we decide to re-enable it.

[2018-02-05 17:33] #710 closed

[2018-02-05 17:35] ericchiang commented on #612
Self-hosted etcd has been removed from bootkube https://github.com/kubernetes-incubator/bootkube/issues/738

Closing this issue for now. If/when we decide to re-enable it we can re-open.

[2018-02-05 17:35] #612 closed

[2018-02-05 17:35] ericchiang commented on #581
Self-hosted etcd has been removed from bootkube https://github.com/kubernetes-incubator/bootkube/issues/738

Closing this issue for now. If/when we decide to re-enable it we can re-open.

[2018-02-05 17:35] #581 closed

[2018-02-05 19:02] #872 closed

[2018-02-05 22:29] ericchiang opened #878 "Better log zip directory structure"
The current directory structure is really hard to debug. Consider outputting a structure like this:

/assign @rphillips

[code]

[2018-02-05 23:18] colemickens commented on #865
I'm not sure this is achievable without upstream changes to `ghprb` to allow for "arguments" to flow from comments into Jenkins as build parameters. (Which sounds a bit dicey too, build parameters include the sha1 hash [security vector], or the base hyperkube image [again, security], etc).

Even if it were possible to pass through params like this... when that job runs and executes a single e2e te

[2018-02-06 03:24] LihuaWu commented on #871
In my case, the `internal IP address` is within a subnet(10.3.0.0/24) I built for kube-dns to use.
the kube-dns tried to connect to an ip that didn't work at that moment.
It seemed like a chicken-egg problem.

the `wrong API server` is `https://10.3.0.1:443`

[code]
 To make things clear, the ip `10.153.43.107` is a nodeIp or hostIp
[code]

[2018-02-06 04:48] #878 closed

[2018-02-06 06:48] LihuaWu opened #879 "add --endpoint-reconciler-type=lease starting flag for kube-apiserver.yaml"
when running HA apiserver,  the --endpoint-reconciler-type=lease flag should be added.

Detailed description see below links:
https://kubernetes.io/docs/admin/high-availability/building/#endpoint-reconciler

[2018-02-06 16:42] ericchiang commented on #879
Some previous discussion:

https://github.com/kubernetes-incubator/bootkube/pull/850
https://github.com/kubernetes/kubernetes/issues/57617
https://github.com/kubernetes/kubernetes/pull/58474

TL;DR we need some e2e tests to promote this to beta. Until then we're resistant to turning it on in bootkube.

I'll note that we're trying to get the e2e tests running against bootkube, which would allow us

[2018-02-06 16:44] ericchiang commented on #865
I think this would be a nice to have but not a blocker. Non-flaky tests would work even better.

Closing for now. Can re-open once we have the new CI running.

[2018-02-06 16:44] #865 closed

[2018-02-06 16:49] LihuaWu commented on #879
ok. sorry for hadn't checked history issues before.
I will close the issue.
thanks.

[2018-02-06 16:51] ericchiang commented on #669
I don't inherently see anything wrong with those TLS assets but it's hard to tell without logs from your API server.

Closing for now. Consider taking a look at:

https://github.com/coreos/tectonic-installer/tree/master/modules/tls/kube/self-signed

Or:

https://github.com/poseidon/terraform-render-bootkube/blob/master/tls-etcd.tf
https://github.com/poseidon/terraform-render-bootkube/blob/master/t

[2018-02-06 16:51] #669 closed

[2018-02-06 16:55] ericchiang commented on #879
I'm going to keep this open if you don't mind. We do want to add this, and this issue would be a good place to track that progress :)

[2018-02-08 04:38] carlos-licea opened #881 "checkpointer doesn't start if master is a url"
Checkpointer doesn't start if I render assets with a url rather than an IP. I tried but I couldn't even retrive logs. It looks to me that it's not even scheduled even though the daemonset is created.

Rendring with --api-server=https://master.kubernetes.int:6443

I can even kubectl into the boostrap API server but the new API server pod is not scheduled becasue checkpointer is not started.

How ma

[2018-02-08 16:53] ericchiang commented on #881
Do you have any logs from the checkpointer? We use URLs for API servers in other projects and it works just fine.

[2018-02-08 20:02] carlos-licea commented on #881
I'm gonna try but how could I if it's not scheduled? still fairly new to kubernetes, would you point out to me which logs should I look into?

[2018-02-08 20:09] ericchiang commented on #881
When debugging the bootstrap components you generally ssh onto the node and
run docker commands to get logs from the failing containers.

On Thu, Feb 8, 2018, 12:02 PM carlos-licea <notifications@github.com> wrote:

[2018-02-08 20:26] colemickens commented on #881
If it's not getting scheduled, it would be helpful to get the `kubectl describe pod ...` output that might tell us why it's failing to schedule. (are your nodes not healthy?)

[2018-02-10 21:20] klausenbusk commented on #879
As we selfhost `kube-apiserver` we could just disable the reconciler and create a `kubernetes` service which use a selector to match the `kube-apiserver` pod.

However, I'm not sure which approach is the best.

[2018-02-12 14:16] MPV opened #884 "bootcube doesn't allow pre-existing/mounted assets folder"
**When I:**
...try to mount an existing `assets` folder into a container with `bootkube` and ask it to render assets:
[code]

**Expected:**
Files created under mounted `$(pwd)/assets` folder.

**Actual:**
This output (and no files generated):
[code]

...whereas if I don't mount anything into the container, it can create the folder and generate the assets successfully.

[2018-02-12 19:53] rphillips commented on #884
PR #886 should get the cleared up.

[2018-02-12 20:40] diegs commented on #884
FWIW I believe this behavior originally existed to prevent users from accidentally overwriting previously-rendered and possibly customized assets. Not sure if that's still a compelling reason but it's something to consider.

[2018-02-12 22:14] dghubble commented on #884
Yeah, I think this is expected to prevent overwriting like @diegs said. cc @rphillips

[2018-02-12 22:23] dghubble commented on #884
Nvm, I think #886 handles this in a decent way.

[2018-02-12 23:07] #884 closed

[2018-02-12 23:08] rphillips commented on #884
Thanks... Updated the PR to check for an empty directory.

[2018-02-13 06:30] MPV commented on #884
Wonderful, thanks! 🙏
tis 13 feb. 2018 kl. 00:08 skrev Ryan Phillips <notifications@github.com>:

[2018-02-13 22:04] rphillips commented on #824
I think I have a handle on the TestReboot flakes. The TestReboot test errors in the TestDeleteAPI test case. The APIServer is deleted from the checkpointer, and the API server never comes back. From what I understand of the process, the checkpointer would restore the APIServer, but it cannot do this because it is in a loop to request secrets and failing.

There is a problem as well in the checkpoi

[2018-02-15 10:33] SuneKjaergaard commented on #732
I agree with @adnoh. Also the Kubernetes doc for using vsphere as a cloud provider seems to be out of sync with VM Wares own doc: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html
Specifically it states:

Meaning that vm-name is not supported for k8s 1.9.

[2018-02-15 23:34] diegs commented on #824
cc @rphillips @ericchiang

I looked into the failure case you described a little more, and the checkpointer is working as intended. The issue is indeed triggered by having the `TestDeleteAPI` and `TestReboot` cases run back to back, and adding the extra wait may help, but the root cause is something else.

Specifically, what I observed was:

1. `TestDeleteAPI` deletes the pod but then finishes imm

[2018-02-16 00:22] diegs commented on #824
Ok, some more experimenting and extending the grace period longer (currently 3 minutes) allows everything else to recover. It just takes a while after a reboot for kube-flannel to get healthy (needs an apiserver) and it seems that other pods are keyed off that. Given the kubelet's restart / exponential backoff cycle this can end up taking a little while.

However, this also means that the other te

[2018-02-16 02:30] rphillips commented on #824
@diegs latest master has an improved wait within TestDeleteAPI [code](https://github.com/kubernetes-incubator/bootkube/blob/master/e2e/deleteapi_test.go#L51). Is there further improvement to this wait you are considering?

[2018-02-16 19:38] diegs commented on #824
@rphillips yeah, waiting for no checkpointed pods is part of it.

I would replace the hacky test (it's basically useless now) https://github.com/kubernetes-incubator/bootkube/blob/master/e2e/deleteapi_test.go#L36  with a more targeted test:

1. Record the apiserver pod's name before you delete it.
2. Keep hitting apiserver pods endpoint to make sure it's gone (and perhaps that the checkpoint is ru

[2018-02-21 18:36] rphillips commented on #288
Since the checkpointer is watching kube-system only, should we close this issue?

[2018-02-21 18:36] ericchiang commented on #288
works for me.

[2018-02-21 18:36] #288 closed

[2018-02-21 21:00] coresolve opened #902 "bootkube recovery doesn't set hostNetwork: true on recovered controller-manager and scheduler assets."
Command I used to test:
[code]

Then grep for hostNet:
[code]

This means that the assets created by recovery will not work for recovery as there is nothing to satisfy the cni implementation without a controller manager and a scheduler.

[2018-02-21 21:19] coresolve commented on #902
@diegs

[2018-02-21 21:20] coresolve opened #903 "bootkube recovery requires an etcd client cert when used with an ca cert."
bootkube recovery requires that you provide a etcd-client cert and key when you specify a etcd-ca-cert.

This should not be a requirement. Etcd can be secured by a CA and not require client certs.

[2018-02-22 17:53] #902 closed

[2018-02-22 18:12] rphillips opened #910 "Duplicate error messages printed"
There are duplicate error messages printed with certain etcd command-line arguments.

[code]

[2018-02-23 18:05] #903 closed

[2018-02-26 14:55] luis-silva commented on #732
Check the code [here](https://github.com/vmware/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L128).
The vm-uuid (VMUUID) and vm-name (VMName) parameters still exist but are deprecated and therefore should not be used, these values are auto discoverable by giving access to `/sys/class/dmi/id/product_serial`.
This issue should be reopened.

[2018-02-26 15:31] luis-silva commented on #732
For information, looking at upcoming Kubernetes release 1.10, the vsphere cloud provider will no longer access `/sys/class/dmi/id/product_serial` or require those parameters (vm-uuid, vm-name) to be provided (PR [here](https://github.com/kubernetes/kubernetes/commit/a698bc73eb0661d879832da388feba49ff88740a))
It will get them from the [NodeInfo object](https://github.com/kubernetes/kubernetes/blob/

[2018-02-27 18:59] rphillips opened #913 "Re-enable HA tests"
Calico is flaking on the TestDeleteAPI test. As a result, Jenkins was changed to use only 1 master. We need to re-enable the multi-master setup for Calico in the future.

The flake consists of a number of socket timeouts, or in some cases a HTTP/2 error:

Case 1:
[code]

Case 2:
[code]

Note: In case 2, there might be a relation to tests running against AWS and the loadbalancer within AWS (https:/

[2018-03-07 17:31] bkcsfi opened #916 "allow --cloud-config to be specified"
somewhat related to #754

To support volumes on vsphere I need to specify both --cloud-provider=vsphere AND --cloud-config=<some path>

It looks like bootkube does not support passing in --cloud-config anywhere.

I'm not looking for bootkube to do anything other than allow these parameters to be passed into the appropriate manifests.

I could try to create a PR if someone gave me a hint where to s

[2018-03-13 00:32] ericchiang commented on #833
Closed via #919

[2018-03-13 00:32] #833 closed

[2018-03-13 00:34] ericchiang commented on #442
Partially updated via #919. We still import k8s.io/kubernetes for CRI.

[2018-03-13 00:39] ericchiang opened #921 "calico: update to version to v3.0.0"
https://github.com/kubernetes-incubator/bootkube/blob/2de93149749b07baa314cba9e3f5d8282d811725/pkg/asset/internal/templates.go#L1461-L1514

* Cluster roles aren't namespaced, so that role shouldn't include a namespace field.
* Merge common resources (e.g. instead of two rules for namespaces and pods, just have single rule with the list ["namespaces", "pods"]

cc @rithujohn191

[2018-03-13 00:48] ericchiang commented on #910
Is `github.com/spf13/cobra.Command.SilenceErrors` what we want?

https://godoc.org/github.com/spf13/cobra#Command

[2018-03-13 00:59] dghubble commented on #921
Pods are supposed to also have "patch" so no need to merge those two. https://github.com/projectcalico/calico/commit/5c04a90c507c6ce23811624ee5f56ba88a568aed

[2018-03-13 01:07] ericchiang commented on #921
Ah looks like we're just behind on the times. https://github.com/projectcalico/calico/commit/35fff4814a38751134be09652aa34cb91d99bd26#diff-242dec77d33255ee47800ceb35e7af19 :)

[2018-03-13 04:18] rithujohn191 commented on #921
Shall I change this issue to updating the calico version to v3.0.0?

[2018-03-13 05:59] ericchiang commented on #921
Works for me!

[2018-03-13 18:18] rphillips commented on #910
Nice find. That should fix it.

[2018-03-13 19:11] #910 closed

[2018-03-19 18:14] ericchiang opened #926 "pkg/bootkube: create Namespaces before other resources"
Namespaces, like CRDs, have explicit ordering. You have to create the namespace object before creating resources in that namespace.

See the fun naming here: https://github.com/coreos/tectonic-installer/tree/a996e37a97d307b5b07c3166937ae0f8a1fbcac6/modules/bootkube/resources/manifests

We should just automatically detect this case.

/assign @rphillips

Ryan if you're busy, feel free to assign to s

[2018-03-19 20:11] aaronlevy commented on #926
If we go down this route, please add documentation that outlines the ordering in which manifests are applied (with https://github.com/kubernetes-incubator/bootkube/pull/919 and this PR it would be that CRDs and Namespaces are special, all other files are lexicographic order).

[2018-03-20 23:21] #656 closed

[2018-03-21 19:12] #926 closed

[2018-03-21 19:39] colemickens commented on #853
/area render

[2018-03-21 19:40] colemickens commented on #664
/area render

[2018-03-21 19:40] colemickens commented on #565
/area render

[2018-03-21 19:40] colemickens commented on #556
/area render

[2018-03-21 19:47] colemickens commented on #879
area/render

[2018-03-21 19:48] colemickens commented on #871
/area render

[2018-03-21 19:48] colemickens commented on #879
/area render

[2018-03-21 19:50] colemickens commented on #857
/area recovery

[2018-03-21 19:55] colemickens commented on #782
/area render

[2018-03-21 19:59] colemickens commented on #648
/area render

[2018-03-21 20:00] colemickens commented on #660
Looks like this is either addressed, or covered in a more specific Issue. Closing.

[2018-03-21 20:00] #660 closed

[2018-03-21 20:11] colemickens commented on #658
/area recovery

[2018-03-21 20:35] colemickens commented on #565
`start` currently only takes two flags: `--asset-dir` and `--pod-manifest-path`.

I would suggest that we treat `--asset-dir` as the pointer to the state+configuration for the cluster. Any configuration file would be implicitly part of the asset dir. In the asset dir, we could introduce a new configuration file `bootkube.yaml` or some such, with cluster-specific details, like the kubelet pod manif

[2018-03-21 20:36] colemickens commented on #104
/area render

[2018-03-21 21:19] ericchiang commented on #921
https://github.com/kubernetes-incubator/bootkube/pull/927 is in. Thanks!

[2018-03-21 21:19] #921 closed

[2018-03-21 23:33] aaronlevy opened #932 "reports "failed to create assets", but no output about which"
using /hack/multi-node:

[code]

Cluster comes up fine after this - but not sure if a particular manifest was not injected.

[2018-03-21 23:34] rphillips commented on #932
Pretty sure we need this PR: https://github.com/kubernetes-incubator/bootkube/pull/925

[2018-03-21 23:56] aaronlevy opened #934 "Checkpointer fails to get pod status using v1.10-rc1"
Getting repeated errors:

[code]

The checkpointer then never pivots from the checkpointed copy of the apiserver, to the "real" apiserver pod.

Tested using v1.9.3 and it did not have this same behavior

[2018-03-22 13:10] #932 closed

[2018-03-22 13:16] rphillips opened #936 "UserOutput should be replaced with a proper logger"
UserOutput wraps fmt.Printf without any additional logic. By adding a proper log object, the code will be more flexible for textual output.

[2018-03-22 16:26] aaronlevy opened #937 "Surface asset creation errors to e2e tests"
So we don't end up with issues like https://github.com/kubernetes-incubator/bootkube/issues/932 - our e2e tests should expose any asset creation errors as test failures.

We don't fail on these errors in the normal case as it's usually easier to debug the resulting cluster if we don't fail early (https://github.com/kubernetes-incubator/bootkube/pull/933#issuecomment-375161442).

Not sure best cour

[2018-03-22 16:27] ericchiang commented on #934
This error is coming from our use of CRI

https://github.com/kubernetes-incubator/bootkube/blob/8a9a588f6c19223f00c6c91d88c307e1387eb288/pkg/checkpoint/runtime_service.go#L107-L115

[2018-03-22 16:30] ericchiang commented on #934
The CRI service switched from v1alpha1 to v1alpha2 between 1.9 and 1.10

https://github.com/kubernetes/kubernetes/tree/v1.9.6/pkg/kubelet/apis/cri
https://github.com/kubernetes/kubernetes/tree/v1.10.0-rc.1/pkg/kubelet/apis/cri

[2018-03-22 16:33] ericchiang commented on #934
CRI made a breaking change over 1.10 https://github.com/kubernetes/kubernetes/pull/58973

https://github.com/kubernetes-incubator/cri-tools/issues/236

From what I can see this is expected. I don't see a way for us to support both 1.9 and 1.10 CRI.

[2018-03-22 18:32] colemickens commented on #937
Unfortunately, right now the e2e won't fail until a bunch or all of the terraform completes since `render` runs remotely. It would be good if we could also run the render locally and fail faster.

[2018-03-22 18:35] aaronlevy commented on #937
This would be for the `start` phase technically (which is remote regardless)

[2018-03-22 18:43] rphillips commented on #937
@aaronlevy https://github.com/kubernetes-incubator/bootkube/pull/939/files

[2018-03-22 22:20] #647 closed

[2018-03-22 23:42] #934 closed

[2018-03-23 18:52] #937 closed

[2018-03-25 22:05] dghubble opened #941 "Update sonobuoy and run conformance"
bootkube should still pass the original sonobuoy conformance tests, but sonobuoy has changed a good bit over the last few months. I ran sonobuoy v0.11.0 and there were a few failures. I'll note, its unclear how to control exactly which version of the Kubernetes e2e tests get run and whether these failures represent anything real (given e2e spews v1.9.4-beta).

[code]

[code]

I hastily wrote (an a

[2018-03-25 22:07] dghubble commented on #941
Btw, that sonbuoy job is not a replacement for the official bootkube-conformance e2e job that should get run on every Kubernetes bump.

[2018-03-28 16:36] wking opened #944 "Is OWNERS stale?"
They aren't exactly the same thing, but only @aaronlevy is [listed in `OWNERS`][1] while first-parent commits seem to come from a few people:

[code]

Some of those entries may be due to backwards merges or squashed merges (e.g. @chancez's 94e50ffe is a [squashed merge or similar][1] of #94.  But at least some of the higher-count folks seem to wield approver power.

[1]: https://github.com/kuberne

[2018-03-28 17:34] ericchiang commented on #944
We should update it. Myself @rphillips and @colemickens have been the primary maintainers for a bit.

[2018-03-30 06:02] wking commented on #757
I like the `CAP_NET_BIND_SERVICE` approach myself (minimal privledhe escalation risk, and staying on 443 raises the bar a bit for any would-be-middlemen).  But with `kubeadm` using 6443 as mentioned above, and us using 6443 since #789, just defaulting to 6443 seems best.

[2018-03-30 06:16] wking commented on #132
#951 fixes this by using `git describe --dirty ...`, and Git notices and flags staged files too.

[2018-04-02 16:33] aaronlevy commented on #941
Just as an update, I opened an internal JIRA ticket for someone to take a look at the conformance tests (both upstream + sonouoy).

cc @rphillips

[2018-04-03 16:04] #132 closed

[2018-04-06 01:22] weikinhuang opened #960 "TLS errors in apiserver when running with calico"
Since the update to `v1.10.0` for k8s and calico `3.0.3` I have been having some networking issues especially around `hostPort`. (Using bootkube:master) with `v1.10.0` for all k8s services.

Logs for the apiserver continuously print out:

[code]

The timing of these logs seem to correlate with calico trying to initialize a watcher

[code]

[2018-04-06 02:30] #960 closed

[2018-04-06 18:06] weikinhuang commented on #960
@rphillips I figured out the TLS error, it's from haproxy `ssl-hello-chk` only supporting sslv3 and apiserver now only supports tls1.2. This caused the apiserver lb (haproxy) to disconnect calico. I changed it to a `tcp-check` to fix that issue. However I'm getting
 a different issue now with apiserver (where the haproxy api server is on) and calico happening every few seconds.

[code]

[code]

[2018-04-06 18:08] weikinhuang commented on #960
This is the haproxy conf i'm using

[code]

[2018-04-06 18:51] weikinhuang commented on #960
Ah looks like a HA config issue with api server, now that i'm on v1.10.0 i can turn on `--endpoint-reconciler-type=lease` in apiserver. Seems to have fixed the apiserver issue after reading the docs. Though i'm still getting the calico issue every 10-30 seconds.

[code]

[2018-04-06 20:31] rphillips commented on #960
Just a heads up, the lease endpoint reconciler is still alpha.

[2018-04-06 20:40] weikinhuang commented on #960
Yep, I read that. But that's ok, since this is a homelab environment anyways.

[2018-04-13 14:48] ronakpandya7 opened #966 "Unable to determine api-server readiness: API Server http status: 0, API server Error Bootkube"
Hello,
We are trying to setup kubernetes 1.10 from the stretch using bootkube.
We are using CoreOS as an OS.

Docker Information :

[code]

BootKube File :

[code]

Bootstrap-apiserver.yaml File:

[code]

Kubectl:

[code]

Etcd Cluster is also Healthy....

Kubectl Logs:
[code]

Bootkube Error:
[code]
Can anyone help here?

[2018-04-18 10:44] odacremolbap commented on #966
Hi @ronakpandya7

probably you can troubleshoot getting bootstrap kube-apiserver container log at that node.
Can you identify that container (probably it will be exited) and post logs here?

[2018-04-18 11:06] ronakpandya7 commented on #966
Thanks for the reply @odacremolbap

There is no container running with the name bootstrap kube-apiserver

"docker ps" command gives blank output.

"rkt list" gives below output:

[code]
So what can i do in this case?

[2018-04-18 11:32] odacremolbap commented on #966
did you check for any dead container?

bootkube will use the kubelet API to create the bootstrap control plane. Probably the first place to check is the kubelet logs when bootkube start it's execution. Can you open 2 terminals and execute bootstrap at one of them, and `journalctl -feu kubelet` at the other?
You should see requests for creating the pods. If the containers cannot be created, kubelet

[2018-04-18 12:44] odacremolbap commented on #966
journalctl paginate logs, can you check further down?

kubelet issues trying to register itself as a node are normal, since there is no apiserver to register.
Also, are `node{1,2,3}.example.com` addressable?

Probably you can answer by executing this command, which will also tell if etcd is properly running
[code]

[2018-04-19 06:08] ronakpandya7 commented on #966
Hello @odacremolbap

I got success by changing some parameters in kubelet, but after temporary cluster came up pod status looks like this:

[code]

But bootkube-apiserver is running but original apiserver pod is giving CrashLoopBackOff..

When i tries to see the logs of apiserver it gives me the following error:

[code]

Can you please help me in this case?

[2018-04-20 05:44] ronakpandya7 commented on #966
Hello @odacremolbap,

Now, all pods are running successfully
[code]

But when i tries to see the logs its gives the following error:

[code]

And also trying to get inside of the pods (using EXEC command of kubectl) gives following error:

[code]

Can somebody check it please?

[2018-04-25 13:51] ronakpandya7 commented on #966
Issue Has been solved :)
/close

[2018-04-25 13:51] #966 closed

[2018-05-01 12:12] stuart-warren opened #969 "pod-checkpointer doesn't handle a pod using projected volumes correctly"
issue: our apiserver pod is created with kubeadm and contains projected volumes.

eg:
[code]

the checkpointed apiserver pod still has the k8s-cert volume unchanged so on apiserver failure startup fails due to not being able to pull secrets from the api

[2018-05-01 18:43] ericchiang commented on #969
Secrets and configmaps seem doable, but I don't know how we're going to handle the downward APIs.

https://kubernetes.io/docs/concepts/storage/volumes/#projected

It's not an objective of the pod-checkpointer to support every volume type. Is there an actual installer that's trying to combine kubeadm and our pod-checkpointer, or is this just a hypothetical?

[2018-05-02 11:29] stuart-warren commented on #969
we are using kubeadm to setup self hosted kubernetes and adding our own extra manifests like the pod-checkpointer, but we just realised that the pod-checkpointer doesn't work any more with the current kube-apiserver manifest.

I've just seen that kubernetes has an alpha feature to do bootstrap checkpointing https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0004-bootstr

[2018-05-03 19:53] robertglen opened #974 "Bootkube recover does not wait long enough for recovery in certain scenarios"
In the event you lose all nodes running the control plane in its entirety, and have nothing but a functioning etcd cluster, bootkube is unable to recover successfully on its own once you introduce a new master node to run the recovery on.

My observations during a trial DR scenario using bootkube v0.12.0 is that the 'bootkube start' finishes with a successful control plane bootup, then tears down

[2018-05-03 20:42] klausenbusk commented on #974
Duplicate https://github.com/kubernetes-incubator/bootkube/issues/715 ?

[2018-05-03 21:47] pfremm opened #975 "Allow for custom Default images"
If I submitted a PR to allow for custom default images to be specified on the render would that PR be accepted?

[2018-05-03 22:59] ericchiang commented on #975
We're going to shy away from more flags for `bootkube render`. Consider using your own manifests with `bootkube start` or alternative render options like https://github.com/poseidon/typhoon

Closing for now because we don't have plans to add additional flags.

[2018-05-03 22:59] #975 closed

[2018-05-05 04:08] robertglen commented on #974
Ok, definitely sounds like the same.

On Thu, May 3, 2018, 1:42 PM Kristian Klausen <notifications@github.com>
wrote:

[2018-05-07 09:36] schmitch opened #977 "bootkube recover fails with TemplateGeneration on 1.10.x"
Hello, currently I try running bootkube on a single node cluster (I modified the vagrant a little bit to suite my own needs, just removed vagrant and change the api-servers ip to my network).

I then did just the `bootkube render ...` and `bootkube start ...` everything started working. After that I tought, now let's check the recovery process and rebooted the node.

So I tried to recover via: `./

[2018-05-07 16:41] redbaron opened #978 "generate apiserver aggregation certs"
Bootkube generates most of certs, it might as well generate aggregation API server certs using a separate CA as per docs: https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

Example of implementation:

https://github.com/kubernetes/kubernetes/pull/47094/files

[2018-05-07 17:50] rphillips commented on #879
Lease Endpoint is going to be the default in 1.11. We may not even need the flag.

[2018-05-11 16:18] rithujohn191 opened #980 "Docs on how to analyze conformance tests results"

[2018-05-14 20:42] rphillips commented on #974
Closing in favor of #715

[2018-05-14 20:42] #974 closed

[2018-05-15 16:25] ericchiang commented on #978
I'd prefer users do this and not add more functionality to `bootkube render`

[2018-05-15 19:46] redbaron commented on #978
why? "bootkube render" creates set of files ready for a fully functional cluster, kubernetes is moving towards metrics-server  which runs using APIServer aggregation, it is just natural to have both new set of CA certs for aggregation.

If bootkube render was providing metrics-server in rendered manifests, would you consider adding CAs too?

[2018-05-15 19:53] ericchiang commented on #978
Render's goal is to provide us some basis for e2e testing. Bootkube itself isn't a distribution and we don't expect it to meet every use case. Bootkube users like [Typhoon](https://github.com/poseidon/terraform-render-bootkube) and [Tectonic](https://github.com/coreos/tectonic-installer/tree/1.8.4-tectonic.3/modules/bootkube) all do their own rendering because of this, and that's the way we'd like

[2018-05-15 21:15] redbaron commented on #978
Fair enough.

[2018-05-15 21:15] #978 closed

[2018-05-22 01:53] v1k0d3n commented on #486
guess that was a no? :) jk. been looking into this as well, and yes I agree with `--dns=host`. I've also been using [hostess](https://github.com/cbednarski/hostess) for some situations where I need to idempotently change underlying `/etc/hosts` entries.

so what do you want to do with this issue @aaronlevy? i do think documentation would be helpful for users.

and just to keep this thread current

[2018-05-22 01:59] v1k0d3n commented on #486
ahh...[maybe not i guess](https://github.com/aaronlevy/bootkube/blob/fd2bbc49eabc58a68a8f19176b6ed663cd5905e1/hack/multi-node/bootkube-up#L32).

[2018-05-23 19:54] frankgreco opened #986 "Pod Checkpointer Prevents Updates to API Server"
It appears as though the behavior of the `pod-checkpointer` is as follows:
1. watch for a ds/kube-apiserver pod to become unhealthy
2. create an apiserver via static pod

If I issue a `kubectl patch` such that the API server needs to restart, the above will occur. However, when the ds version of the server attempts to come back up, I am greeted with:

[code]

This occurs because the static pod is